KiSS4939/Kiss.Server.Einwohnerregister/Service References/OmegaDeRegistService/SI_O13_deRegist_sync_ob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://stzh.ch/O13/eCH-0020/2.3" name="SI_O13_deRegist_sync_ob" targetNamespace="http://stzh.ch/O13/eCH-0020/2.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_O13_deRegist_sync_ob" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0078/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="infoTextType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="infoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="code">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" form="qualified" name="textEnglish" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textGerman" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textFrench" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textItalian" type="infoTextType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0058/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0058/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="participantIdType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
          <xsd:minLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0058/2" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" />
      <xsd:element name="deregistrationRequest">
        <xsd:annotation>
          <xsd:documentation>Service S03b Abmeldung - Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="deregistrationHeader">
              <xsd:annotation>
                <xsd:documentation>Kopfdaten zum Request</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" form="qualified" name="techuserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element form="qualified" name="enduserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" form="qualified" name="enduserName">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element form="qualified" name="deregistrationBody">
              <xsd:annotation>
                <xsd:documentation>Service S03b Abmeldung Eingabeparameter</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element form="qualified" name="recipientId" type="eCH-0058:participantIdType" />
                  <xsd:choice>
                    <xsd:element form="qualified" name="personAll" type="eCH-0011:yesNoType" />
                    <xsd:element maxOccurs="unbounded" form="qualified" name="person" type="p2:deregistrationPersonType" />
                  </xsd:choice>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deregistrationResponse">
        <xsd:annotation>
          <xsd:documentation>Service S03b Abmeldung - Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="messages" type="eCH-0078:infoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="deregistrationPersonType">
        <xsd:annotation>
          <xsd:documentation>Service Abmeldung Person</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element form="qualified" name="personId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0011/4" targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="yesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.deregistrationRequest">
    <wsdl:documentation />
    <wsdl:part name="deregistrationRequest" element="p2:deregistrationRequest" />
  </wsdl:message>
  <wsdl:message name="p2.deregistrationResponse">
    <wsdl:documentation />
    <wsdl:part name="deregistrationResponse" element="p2:deregistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_O13_deRegist_sync_ob">
    <wsdl:documentation />
    <wsdl:operation name="SI_O13_deRegist_sync_ob">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_O13_deRegist_sync_ob" />
      </wsp:Policy>
      <wsdl:input message="p1:p2.deregistrationRequest" />
      <wsdl:output message="p1:p2.deregistrationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_O13_deRegist_sync_obBinding" type="p1:SI_O13_deRegist_sync_ob">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_O13_deRegist_sync_ob">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_O13_deRegist_sync_obService">
    <wsdl:port name="SI_O13_deRegist_sync_obPort" binding="p1:SI_O13_deRegist_sync_obBinding">
      <address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=KISS:BC_O13_S03_Regist:CC_O13_S03b_WS_OUT&amp;version=3.0&amp;Sender.Party=http%3A%2F%2Fsap.com%2Fxi%2FXI%3AXIParty%3AKISS&amp;Sender.Service=BC_O13_S03_Regist&amp;Interface=http%3A%2F%2Fstzh.ch%2FO13%2FeCH-0020%2F2.3%5ESI_O13_deRegist_sync_ob" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>