KiSS4939/KiSS4.Schnittstellen/Newod/WSDL/MI_GetMutationenOut.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://sap.ch/eCH" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI_GetMutationenOut" targetNamespace="http://sap.ch/eCH">
   <wsdl:documentation />
   <wsp:UsingPolicy wsdl:required="true" />
   <wsp:Policy wsu:Id="OP_MI_GetMutationenOut" />
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.ch/eCH" targetNamespace="http://sap.ch/eCH">
         <xsd:element name="MT_GetPersonMulti_eChRequest" type="DT_GetPersonRequest" />
         <xsd:element name="MT_GetMutationenRequest" type="DT_GetMutationRequest" />
         <xsd:complexType name="DT_GetMutationRequest">
            <xsd:sequence>
               <xsd:element name="Receiver" type="xsd:string" />
               <xsd:element name="ValidFrom" type="xsd:string" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_GetPersonRequest">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Request für WS GetPerson
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Bpartners" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="Bpartner">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="MutArt" type="xsd:string" minOccurs="0" />
                        <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0" />
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="ValidTo" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MT_GetMutationenRequest">
      <wsdl:documentation />
      <wsdl:part name="MT_GetMutationenRequest" element="p1:MT_GetMutationenRequest" />
   </wsdl:message>
   <wsdl:message name="MT_GetPersonMulti_eChRequest">
      <wsdl:documentation />
      <wsdl:part name="MT_GetPersonMulti_eChRequest" element="p1:MT_GetPersonMulti_eChRequest" />
   </wsdl:message>
   <wsdl:portType name="MI_GetMutationenOut">
      <wsdl:documentation />
      <wsdl:operation name="MI_GetMutationenOut">
         <wsdl:documentation />
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_MI_GetMutationenOut" />
         </wsp:Policy>
         <wsdl:input message="p1:MT_GetMutationenRequest" />
         <wsdl:output message="p1:MT_GetPersonMulti_eChRequest" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MI_GetMutationenOutBinding" type="p1:MI_GetMutationenOut">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="MI_GetMutationenOut">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1" />
         <wsdl:input>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
  <wsdl:service name="MI_GetMutationenOutService">
    <wsdl:port name="MI_GetMutationenOutPort" binding="p1:MI_GetMutationenOutBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://dbs1006.bgov.ch:8000/XISOAPAdapter/MessageServlet?channel=:KISS:CC_SOAP_KISS_GM_SENDER&amp;version=3.0&amp;Sender.Service=KISS&amp;Interface=http%3A%2F%2Fsap.ch%2FeCH%5EMI_GetMutationenOut" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>