KiSS4939/KiSS4.Schnittstellen/Newod/WSDL/MI_GetPersonMulti_eChOut.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://sap.ch/eCH" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI_GetPersonMulti_eChOut" targetNamespace="http://sap.ch/eCH">
   <wsdl:documentation />
   <wsp:UsingPolicy wsdl:required="true" />
   <wsp:Policy wsu:Id="OP_MI_GetPersonMulti_eChOut" />
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.ch/eCH" targetNamespace="http://sap.ch/eCH">
         <xsd:element name="MT_GetPersonMulti_eChRequest" type="DT_GetPersonRequest" />
         <xsd:element name="MT_GetPersonMulti_eChResponse" type="DT_eChRoot" />
         <xsd:complexType name="DT_eChpersonMailAddressInfoType">
            <xsd:sequence>
               <xsd:element name="mrMrs" type="xsd:token" minOccurs="0" />
               <xsd:element name="title" type="xsd:token" minOccurs="0" />
               <xsd:element name="firstName" type="xsd:token" minOccurs="0" />
               <xsd:element name="lastName" type="xsd:token" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChRoot">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Gesamtstruktur eCH0011
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="personRoot" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="reportedPerson">
                           <xsd:complexType>
                              <xsd:sequence>
                                 <xsd:element name="person">
                                    <xsd:complexType>
                                       <xsd:sequence>
                                          <xsd:element name="personIdentification" type="DT_eChPersonIdentificationType" />
                                          <xsd:element name="coreData">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="originalName" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="alliancePartnershipName" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="aliasName" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="otherName" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="callName" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="placeOfBirth">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="municipality" type="DT_eChSwissMunicipalityType" />
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="foreignBirthTown" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="dateOfDeath" type="xsd:date" minOccurs="0" />
                                                   <xsd:element name="placeOfDeath" type="xsd:string" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="maritalData">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="maritalStatus">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="0" />
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                     <xsd:enumeration value="3" />
                                                                     <xsd:enumeration value="4" />
                                                                     <xsd:enumeration value="5" />
                                                                     <xsd:enumeration value="6" />
                                                                     <xsd:enumeration value="7" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="dateOfMaritalStatus" type="xsd:date" minOccurs="0" />
                                                            <xsd:element name="separation" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="dateOfSeparation" type="xsd:date" minOccurs="0" />
                                                            <xsd:element name="cancelationReason" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                     <xsd:enumeration value="3" />
                                                                     <xsd:enumeration value="4" />
                                                                     <xsd:enumeration value="9" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="nationality">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="nationalityStatus">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="0" />
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="country" type="DT_eChCountryType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="contact" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="contactAddress" type="DT_eChmailAddressType" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="languageOfCorrespondance" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="2" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="religion">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:pattern value="\d{3,6}" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mrMrs" type="xsd:string" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="initials" type="xsd:string" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="phonePrivat" type="xsd:string" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="faxPrivat" type="xsd:string" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="naturalDate" type="xsd:date" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="anyPerson">
                                    <xsd:complexType>
                                       <xsd:sequence>
                                          <xsd:element name="swiss" minOccurs="0">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="placeOfOrigin" maxOccurs="unbounded">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="originName">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:maxLength value="50" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="canton">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:maxLength value="2" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="originZipCode" type="xsd:string" minOccurs="0">
                                                               <xsd:annotation>
                                                                  <xsd:documentation>
                                                                  CustomSpecfic
                                                                  </xsd:documentation>
                                                               </xsd:annotation>
                                                            </xsd:element>
                                                            <xsd:element name="originBfSNumber" type="xsd:string" minOccurs="0">
                                                               <xsd:annotation>
                                                                  <xsd:documentation>
                                                                  CustomSpecfic
                                                                  </xsd:documentation>
                                                               </xsd:annotation>
                                                            </xsd:element>
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name="foreigner" minOccurs="0">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="residencePermit" type="xsd:string" />
                                                   <xsd:element name="residencePermitFrom" type="xsd:date" minOccurs="0">
                                                      <xsd:annotation>
                                                         <xsd:documentation>
                                                         CustomSpecfic
                                                         </xsd:documentation>
                                                      </xsd:annotation>
                                                   </xsd:element>
                                                   <xsd:element name="residencePermitTill" type="xsd:date" minOccurs="0" />
                                                   <xsd:element name="nameOnPassport" minOccurs="0">
                                                      <xsd:simpleType>
                                                         <xsd:restriction base="xsd:token">
                                                            <xsd:maxLength value="100" />
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="hasMainResidence" minOccurs="0">
                                    <xsd:complexType>
                                       <xsd:sequence>
                                          <xsd:element name="mainResidence">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="reportingMunicipality" type="DT_eChSwissMunicipalityType" />
                                                   <xsd:element name="arrivalDate" type="xsd:date" />
                                                   <xsd:element name="comesFrom" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="dwellingAddress">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="EGID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999999999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="EWID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="householdID" type="xsd:token" minOccurs="0" />
                                                            <xsd:element name="withoutEGID" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="householdID" type="xsd:token" />
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="address" type="DT_eChSwissAddressInformationType" />
                                                            <xsd:element name="typeOfHousehold">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                     <xsd:enumeration value="3" />
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="movingDate" type="xsd:date" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="departureDate" type="xsd:date" minOccurs="0" />
                                                   <xsd:element name="goesTo" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name="secondaryResidence" type="DT_eChSwissMunicipalityType" minOccurs="0" maxOccurs="unbounded" />
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="hasSecondaryResidence" minOccurs="0">
                                    <xsd:complexType>
                                       <xsd:sequence>
                                          <xsd:element name="mainResidence" type="DT_eChSwissMunicipalityType" />
                                          <xsd:element name="secondaryResidence">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="reportingMunicipality" type="DT_eChSwissMunicipalityType" />
                                                   <xsd:element name="arrivalDate" type="xsd:date" />
                                                   <xsd:element name="comesFrom" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="dwellingAddress">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="EGID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999999999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="EWID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="householdID" type="xsd:token" minOccurs="0" />
                                                            <xsd:element name="withoutEGID" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="householdID" type="xsd:token" />
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="address" type="DT_eChSwissAddressInformationType" />
                                                            <xsd:element name="typeOfHousehold">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                     <xsd:enumeration value="3" />
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="movingDate" type="xsd:date" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="departureDate" type="xsd:date" minOccurs="0" />
                                                   <xsd:element name="goesTo" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="hasOtherResidence" minOccurs="0">
                                    <xsd:complexType>
                                       <xsd:sequence>
                                          <xsd:element name="secondaryResidenceInformation">
                                             <xsd:complexType>
                                                <xsd:sequence>
                                                   <xsd:element name="reportingMunicipality" type="DT_eChSwissMunicipalityType" />
                                                   <xsd:element name="arrivalDate" type="xsd:date" />
                                                   <xsd:element name="comesFrom" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="dwellingAddress">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="EGID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999999999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="EWID" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:unsignedInt">
                                                                     <xsd:minInclusive value="1" />
                                                                     <xsd:maxInclusive value="999" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="householdID" type="xsd:token" minOccurs="0" />
                                                            <xsd:element name="withoutEGID" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="householdID" type="xsd:token" />
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="address" type="DT_eChSwissAddressInformationType" />
                                                            <xsd:element name="typeOfHousehold">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:enumeration value="1" />
                                                                     <xsd:enumeration value="2" />
                                                                     <xsd:enumeration value="3" />
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="movingDate" type="xsd:date" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                   <xsd:element name="departureDate" type="xsd:date" minOccurs="0" />
                                                   <xsd:element name="goesTo" minOccurs="0">
                                                      <xsd:complexType>
                                                         <xsd:sequence>
                                                            <xsd:element name="unknown" minOccurs="0">
                                                               <xsd:simpleType>
                                                                  <xsd:restriction base="xsd:token">
                                                                     <xsd:enumeration value="0" />
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="swissTown" type="DT_eChSwissMunicipalityType" minOccurs="0" />
                                                            <xsd:element name="foreignCountry" minOccurs="0">
                                                               <xsd:complexType>
                                                                  <xsd:sequence>
                                                                     <xsd:element name="country" type="DT_eChCountryType" />
                                                                     <xsd:element name="town" minOccurs="0">
                                                                        <xsd:simpleType>
                                                                           <xsd:restriction base="xsd:string">
                                                                              <xsd:whiteSpace value="collapse" />
                                                                              <xsd:maxLength value="100" />
                                                                           </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                     </xsd:element>
                                                                  </xsd:sequence>
                                                               </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="mailAddress" type="DT_eChAddressInformationType" minOccurs="0" />
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChmailAddressType">
            <xsd:sequence>
               <xsd:element name="organisation" type="DT_eChorganisationMailAddressInfoType" minOccurs="0" />
               <xsd:element name="person" type="DT_eChpersonMailAddressInfoType" minOccurs="0" />
               <xsd:element name="addressInformation" type="DT_eChAddressInformationType" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChPersonIdentificationType">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Untertyp in DT_eChRoot - eCH-0044
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="vn" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:unsignedLong">
                        <xsd:maxInclusive value="7569999999999" />
                        <xsd:minInclusive value="7560000000001" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="localPersonId">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="personIdCategory">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:token">
                                 <xsd:maxLength value="20" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="personId">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:token">
                                 <xsd:maxLength value="20" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="OtherPersonId" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="personIdCategory">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:token">
                                 <xsd:maxLength value="20" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="personId">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:token">
                                 <xsd:maxLength value="20" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="officialName">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="100" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="firstName">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="100" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sex">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="0" />
                        <xsd:enumeration value="1" />
                        <xsd:enumeration value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="dateOfBirth">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="yearMonthDay" type="xsd:date" minOccurs="0" />
                        <xsd:element name="yearMonth" type="xsd:gYearMonth" minOccurs="0" />
                        <xsd:element name="year" type="xsd:gYear" minOccurs="0" />
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChCountryType">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Untertyp in DT_eChRoot - eCH-0008
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="countryId" type="xsd:string" minOccurs="0" />
               <xsd:element name="countryIdISO2" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="countryNameShort" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChSwissMunicipalityType">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Untertyp in DT_eChRoot - eCH-0007
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="municipalityId" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:maxInclusive value="9999" />
                        <xsd:totalDigits value="4" />
                        <xsd:minInclusive value="1" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="municipalityName">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="cantonAbbreviation" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="historyMunicipalityId" type="xsd:int" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChAddressInformationType">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Untertyp in DT_eChRoot - eCH-0010
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="addressLine1" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="addressLine2" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="street" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="houseNumber" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="12" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="dwellingNumber" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="postOfficeBoxNumber" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:unsignedInt">
                        <xsd:maxInclusive value="9999" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="postOfficeBoxText" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="15" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="locality" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="town">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="swissZipCode" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:unsignedInt">
                        <xsd:maxInclusive value="9999" />
                        <xsd:minInclusive value="1000" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="swissZipCodeAddOn" type="xsd:string" minOccurs="0" />
               <xsd:element name="swissZipCodeId" type="xsd:int" minOccurs="0" />
               <xsd:element name="foreignZipCode" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="15" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="country">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_GetPersonRequest">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Request fr WS GetPerson
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Bpartners" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="Bpartner">
                           <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10" />
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="MutArt" type="xsd:string" minOccurs="0" />
                        <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0" />
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="ValidTo" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChorganisationMailAddressInfoType">
            <xsd:sequence>
               <xsd:element name="organisationName" type="xsd:token" />
               <xsd:element name="organisationNameAddOn1" type="xsd:token" minOccurs="0" />
               <xsd:element name="organisationNameAddOn2" type="xsd:token" minOccurs="0" />
               <xsd:element name="title" type="xsd:token" minOccurs="0" />
               <xsd:element name="firstName" type="xsd:token" minOccurs="0" />
               <xsd:element name="lastName" type="xsd:token" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_eChSwissAddressInformationType">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
               Untertyp in DT_eChRoot - eCH-0010
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="addressLine1" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="addressLine2" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="street" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="houseNumber" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="12" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="dwellingNumber" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="locality" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="town">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="swissZipCode" minOccurs="0">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:unsignedInt">
                        <xsd:maxInclusive value="9999" />
                        <xsd:minInclusive value="1000" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="swissZipCodeAddOn" type="xsd:string" minOccurs="0" />
               <xsd:element name="swissZipCodeId" type="xsd:int" minOccurs="0" />
               <xsd:element name="country">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:maxLength value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MT_GetPersonMulti_eChRequest">
      <wsdl:documentation />
      <wsdl:part name="MT_GetPersonMulti_eChRequest" element="p1:MT_GetPersonMulti_eChRequest" />
   </wsdl:message>
   <wsdl:message name="MT_GetPersonMulti_eChResponse">
      <wsdl:documentation />
      <wsdl:part name="MT_GetPersonMulti_eChResponse" element="p1:MT_GetPersonMulti_eChResponse" />
   </wsdl:message>
   <wsdl:portType name="MI_GetPersonMulti_eChOut">
      <wsdl:documentation />
      <wsdl:operation name="MI_GetPersonMulti_eChOut">
         <wsdl:documentation />
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_MI_GetPersonMulti_eChOut" />
         </wsp:Policy>
         <wsdl:input message="p1:MT_GetPersonMulti_eChRequest" />
         <wsdl:output message="p1:MT_GetPersonMulti_eChResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MI_GetPersonMulti_eChOutBinding" type="p1:MI_GetPersonMulti_eChOut">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="MI_GetPersonMulti_eChOut">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1" />
         <wsdl:input>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
  <wsdl:service name="MI_GetPersonMulti_eChOutService">
    <wsdl:port name="MI_GetPersonMulti_eChOutPort" binding="p1:MI_GetPersonMulti_eChOutBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://dbs2006.bgov.ch:8000/XISOAPAdapter/MessageServlet?channel=:KISS:CC_SOAP_KISS_GP_SENDER&amp;version=3.0&amp;Sender.Service=KISS&amp;Interface=http%3A%2F%2Fsap.ch%2FeCH%5EMI_GetPersonMulti_eChOut" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>