KiSS4939/KiSS4.Schnittstellen/Newod/WSDL/MI_SearchPerson_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://bern.ch" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI_SearchPerson_Out" targetNamespace="http://bern.ch">
   <wsdl:documentation />
   <wsp:UsingPolicy wsdl:required="true" />
   <wsp:Policy wsu:Id="OP_MI_SearchPerson_Out" />
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://bern.ch" targetNamespace="http://bern.ch">
         <xsd:element name="MT_SearchPerson_Response" type="DT_SearchPerson_Response" />
         <xsd:element name="MT_SearchPerson_Request" type="DT_SearchPerson_Request" />
         <xsd:complexType name="DT_SearchPerson_Response">
            <xsd:sequence>
               <xsd:element name="BPartner" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_SearchPerson_Request">
            <xsd:sequence>
               <xsd:element name="LASTNAME" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Nachname
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="FIRSTNAME" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Vorname
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="BIRTHDATE_FROM" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Geburtsdatum von
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BIRTHDATE_TO" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Geburtsdatum bis
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AHVN11" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Alte AHV Nummer
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AHVN13" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Neue AHV Nummer
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="STREET" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Strasse
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="HOUSE_NO" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Hausnummer
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="POSTL_COD1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Postleitzahl
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="CITY" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Wohnort
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="COUNTRY" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Nationalität
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MT_SearchPerson_Request">
      <wsdl:documentation />
      <wsdl:part name="MT_SearchPerson_Request" element="p1:MT_SearchPerson_Request" />
   </wsdl:message>
   <wsdl:message name="MT_SearchPerson_Response">
      <wsdl:documentation />
      <wsdl:part name="MT_SearchPerson_Response" element="p1:MT_SearchPerson_Response" />
   </wsdl:message>
   <wsdl:portType name="MI_SearchPerson_Out">
      <wsdl:documentation />
      <wsdl:operation name="MI_SearchPerson_Out">
         <wsdl:documentation />
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_MI_SearchPerson_Out" />
         </wsp:Policy>
         <wsdl:input message="p1:MT_SearchPerson_Request" />
         <wsdl:output message="p1:MT_SearchPerson_Response" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MI_SearchPerson_OutBinding" type="p1:MI_SearchPerson_Out">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="MI_SearchPerson_Out">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1" />
         <wsdl:input>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
  <wsdl:service name="MI_SearchPerson_OutService">
    <wsdl:port name="MI_SearchPerson_OutPort" binding="p1:MI_SearchPerson_OutBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://dbs2006.bgov.ch:8000/XISOAPAdapter/MessageServlet?channel=:KISS:CC_SOAP_KISS_SP_SENDER&amp;version=3.0&amp;Sender.Service=KISS&amp;Interface=http%3A%2F%2Fbern.ch%5EMI_SearchPerson_Out" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>