KiSS4939/KiSS4.Schnittstellen/Service References/AbakusMitarbeiterWebService/EmployeeQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://query.beans.salary.solutionfactory.ch/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax23="http://response.beans.salary.solutionfactory.ch/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.salary.solutionfactory.ch" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.salary.solutionfactory.ch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		ProInfirmis Salary WebService (KiSS - BDO - ABACUS)
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://query.beans.salary.solutionfactory.ch/xsd">
      <xs:complexType name="QueryEmployeeRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="allKnownEmployees" type="xs:long" />
          <xs:element minOccurs="1" name="mandator" type="xs:int" />
          <xs:element minOccurs="1" name="division" type="xs:int" />
          <xs:element minOccurs="1" name="monthRecordDate" type="xs:int" />
          <xs:element minOccurs="1" name="passwordAbacus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="queryEmployees" type="xs:long" />
          <xs:element minOccurs="1" name="usernameAbacus" type="xs:string" />
          <xs:element minOccurs="1" name="yearRecordDate" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryAllEmployeesRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="division" type="xs:int" />
          <xs:element minOccurs="1" name="mandator" type="xs:int" />
          <xs:element minOccurs="1" name="monthRecordDate" type="xs:int" />
          <xs:element minOccurs="1" name="passwordAbacus" type="xs:string" />
          <xs:element minOccurs="1" name="usernameAbacus" type="xs:string" />
          <xs:element minOccurs="1" name="yearRecordDate" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.beans.salary.solutionfactory.ch/xsd">
      <xs:complexType name="SalaryRecord">
        <xs:sequence>
          <xs:element minOccurs="1" name="employeeData" type="ax23:EmployeeData" />
          <xs:element minOccurs="1" name="salaryAmounts" type="ax23:SalaryAmounts" />
          <xs:element minOccurs="1" name="targetTime" type="ax23:TargetTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EmployeeData">
        <xs:sequence>
          <xs:element minOccurs="1" name="CCenter1" type="xs:long" />
          <xs:element minOccurs="1" name="EMail" type="xs:string" />
          <xs:element minOccurs="1" name="accountA1" type="xs:long" />
          <xs:element minOccurs="1" name="birthday" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="city" type="xs:string" />
          <xs:element minOccurs="1" name="country" type="xs:string" />
          <xs:element minOccurs="1" name="dateIn" type="xs:date" />
          <xs:element minOccurs="1" name="dateOut" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="division" type="xs:int" />
          <xs:element minOccurs="1" name="employeeNumber" type="xs:long" />
          <xs:element minOccurs="1" name="firstName" type="xs:string" />
          <xs:element minOccurs="1" name="functionId" type="xs:string" />
          <xs:element minOccurs="1" name="functionTitle" type="xs:string" />
          <xs:element minOccurs="1" name="languageCode" type="xs:string" />
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" name="national1" type="xs:long" />
          <xs:element minOccurs="1" name="phone1" type="xs:string" />
          <xs:element minOccurs="1" name="phone2" type="xs:string" />
          <xs:element minOccurs="1" name="postalCode" type="xs:string" />
          <xs:element minOccurs="1" name="postfachUndNr" type="xs:string" />
          <xs:element minOccurs="1" name="project1" type="xs:long" />
          <xs:element minOccurs="1" name="qualificationNumber" type="xs:int" />
          <xs:element minOccurs="1" name="qualificationTitle" type="xs:string" />
          <xs:element minOccurs="1" name="sex" type="xs:string" />
          <xs:element minOccurs="1" name="strasseHausNr" type="xs:string" />
          <xs:element minOccurs="1" name="telefax" type="xs:string" />
          <xs:element minOccurs="1" name="telex" type="xs:string" />
          <xs:element minOccurs="1" name="timeAxisMonth" type="xs:int" />
          <xs:element minOccurs="1" name="timeAxisYear" type="xs:int" />
          <xs:element minOccurs="1" name="type" type="xs:string" />
          <xs:element minOccurs="1" name="zusatz" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SalaryAmounts">
        <xs:sequence>
          <xs:element minOccurs="1" name="amount_11" type="xs:float" />
          <xs:element minOccurs="1" name="amount_12" type="xs:float" />
          <xs:element minOccurs="1" name="amount_13" type="xs:float" />
          <xs:element minOccurs="1" name="amount_17" type="xs:float" />
          <xs:element minOccurs="1" name="amount_3" type="xs:float" />
          <xs:element minOccurs="1" name="amount_51" type="xs:float" />
          <xs:element minOccurs="1" name="amount_52" type="xs:float" />
          <xs:element minOccurs="1" name="amount_53" type="xs:float" />
          <xs:element minOccurs="1" name="amount_54" type="xs:float" />
          <xs:element minOccurs="1" name="amount_55" type="xs:float" />
          <xs:element minOccurs="1" name="amount_56" type="xs:float" />
          <xs:element minOccurs="1" name="amount_70" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="amount_71" type="xs:float" />
          <xs:element minOccurs="1" name="amount_72" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="amount_73" type="xs:float" />
          <xs:element minOccurs="1" name="amount_74" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="amount_75" type="xs:float" />
          <xs:element minOccurs="1" name="amount_76" type="xs:float" />
          <xs:element minOccurs="1" name="amount_77" nillable="true" type="xs:date" />
          <xs:element minOccurs="1" name="timeAxisMonth" type="xs:int" />
          <xs:element minOccurs="1" name="timeAxisYear" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TargetTime">
        <xs:sequence>
          <xs:element minOccurs="1" name="april" type="xs:float" />
          <xs:element minOccurs="1" name="august" type="xs:float" />
          <xs:element minOccurs="1" name="december" type="xs:float" />
          <xs:element minOccurs="1" name="february" type="xs:float" />
          <xs:element minOccurs="1" name="january" type="xs:float" />
          <xs:element minOccurs="1" name="july" type="xs:float" />
          <xs:element minOccurs="1" name="june" type="xs:float" />
          <xs:element minOccurs="1" name="march" type="xs:float" />
          <xs:element minOccurs="1" name="may" type="xs:float" />
          <xs:element minOccurs="1" name="november" type="xs:float" />
          <xs:element minOccurs="1" name="october" type="xs:float" />
          <xs:element minOccurs="1" name="september" type="xs:float" />
          <xs:element minOccurs="1" name="timeAxisYear" type="xs:int" />
          <xs:element minOccurs="1" name="workArea" type="xs:int" />
          <xs:element minOccurs="1" name="yearTotal" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://query.beans.salary.solutionfactory.ch/xsd" xmlns:ax24="http://response.beans.salary.solutionfactory.ch/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.salary.solutionfactory.ch">
      <xs:import namespace="http://query.beans.salary.solutionfactory.ch/xsd" />
      <xs:import namespace="http://response.beans.salary.solutionfactory.ch/xsd" />
      <xs:element name="getEmployeeData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="queryEmployeeRequest" type="ax22:QueryEmployeeRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEmployeeDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="return" type="ax24:SalaryRecord" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllEmployeeData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="queryAllEmployeesRequest" type="ax22:QueryAllEmployeesRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllEmployeeDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="return" type="ax24:SalaryRecord" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllEmployeeDataRequest">
    <wsdl:part name="parameters" element="ns:getAllEmployeeData" />
  </wsdl:message>
  <wsdl:message name="getAllEmployeeDataResponse">
    <wsdl:part name="parameters" element="ns:getAllEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeeDataRequest">
    <wsdl:part name="parameters" element="ns:getEmployeeData" />
  </wsdl:message>
  <wsdl:message name="getEmployeeDataResponse">
    <wsdl:part name="parameters" element="ns:getEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeQueryPortType">
    <wsdl:operation name="getAllEmployeeData">
      <wsdl:input wsaw:Action="urn:getAllEmployeeData" message="ns:getAllEmployeeDataRequest" />
      <wsdl:output wsaw:Action="urn:getAllEmployeeDataResponse" message="ns:getAllEmployeeDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeData">
      <wsdl:input wsaw:Action="urn:getEmployeeData" message="ns:getEmployeeDataRequest" />
      <wsdl:output wsaw:Action="urn:getEmployeeDataResponse" message="ns:getEmployeeDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeQuerySoap11Binding" type="ns:EmployeeQueryPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllEmployeeData">
      <soap:operation soapAction="urn:getAllEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeData">
      <soap:operation soapAction="urn:getEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeQuery">
    <wsdl:port name="EmployeeQueryHttpSoap11Endpoint" binding="ns:EmployeeQuerySoap11Binding">
      <soap:address location="http://localhost:8181/ProInfirmisSalary/services/EmployeeQuery.EmployeeQueryHttpSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>