KiSS4939/KiSS4.FAMOZ.KiSSSvc/KiSSSvc.Omega/Service References/Suche/SI_O102_Suche_sync_ob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://stzh.ch/O102/eCH-0020/2.3" name="SI_O102_Suche_sync_ob" targetNamespace="http://stzh.ch/O102/eCH-0020/2.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_O102_Suche_sync_ob" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0010/3" targetNamespace="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="foreignZipCodeType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="addressLineType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1000" />
          <xsd:maxInclusive value="9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxNumberType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:maxInclusive value="9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="localityType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="dwellingNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxTextType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeIdType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="countryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeAddOnType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="streetType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="houseNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="townType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0044/1" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0010/3" />
      <xsd:element name="outputPersonSearch">
        <xsd:annotation>
          <xsd:documentation>Service Personensuche Ausgabeparameter</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="numberOfPersons" type="p2:numberOfPersonsType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="persons" type="p2:searchResultPersonsType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inputPersonSearch">
        <xsd:annotation>
          <xsd:documentation>Service Personensuche Eingabeparameter</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" form="qualified" name="personId">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="name">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="40" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="firstName">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="40" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="sex" type="eCH-0044:sexType" />
            <xsd:element minOccurs="0" form="qualified" name="birthYear">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="birthMonth">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="birthDay">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="AHV11">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="11" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="AHV13" type="eCH-0044:vnType" />
            <xsd:element minOccurs="0" form="qualified" name="ZEMISNr">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="ZARNr">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="9" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="ZHNr">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="street">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="25" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" form="qualified" name="houseNr">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="numberOfPersonsType">
        <xsd:restriction base="xsd:nonNegativeInteger" />
      </xsd:simpleType>
      <xsd:complexType name="searchResultAdditionalDataType">
        <xsd:sequence>
          <xsd:element form="qualified" name="nationality" type="eCH-0011:nationalityType" />
          <xsd:element form="qualified" name="personActive" type="eCH-0011:yesNoType" />
          <xsd:element minOccurs="0" form="qualified" name="address" type="p2:addressInformationType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="searchResultPersonType">
        <xsd:sequence>
          <xsd:element form="qualified" name="personIdentification" type="eCH-0044:personIdentificationType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="searchResultPersonsType">
        <xsd:sequence>
          <xsd:element form="qualified" name="searchResultPerson" type="p2:searchResultPersonType" />
          <xsd:element form="qualified" name="additionalData" type="p2:searchResultAdditionalDataType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="addressInformationType">
        <xsd:annotation>
          <xsd:documentation>wie eCH-0010 addressInformationType, jedoch alle Felder ausser Land als Kannfelder</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="addressLine1" type="eCH-0010:addressLineType" />
          <xsd:element minOccurs="0" form="qualified" name="addressLine2" type="eCH-0010:addressLineType" />
          <xsd:element minOccurs="0" form="qualified" name="street" type="eCH-0010:streetType" />
          <xsd:element minOccurs="0" form="qualified" name="houseNumber" type="eCH-0010:houseNumberType" />
          <xsd:element minOccurs="0" form="qualified" name="dwellingNumber" type="eCH-0010:dwellingNumberType" />
          <xsd:element minOccurs="0" form="qualified" name="postOfficeBoxNumber" type="eCH-0010:postOfficeBoxNumberType" />
          <xsd:element minOccurs="0" form="qualified" name="postOfficeBoxText" type="eCH-0010:postOfficeBoxTextType" />
          <xsd:element minOccurs="0" form="qualified" name="locality" type="eCH-0010:localityType" />
          <xsd:element minOccurs="0" form="qualified" name="town" type="eCH-0010:townType" />
          <xsd:element minOccurs="0" form="qualified" name="swissZipCode" type="eCH-0010:swissZipCodeType" />
          <xsd:element minOccurs="0" form="qualified" name="swissZipCodeAddOn" type="eCH-0010:swissZipCodeAddOnType" />
          <xsd:element minOccurs="0" form="qualified" name="swissZipCodeId" type="eCH-0010:swissZipCodeIdType" />
          <xsd:element minOccurs="0" form="qualified" name="foreignZipCode" type="eCH-0010:foreignZipCodeType" />
          <xsd:element form="qualified" name="country" type="eCH-0010:countryType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0008/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0008/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="countryNameShortType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="countryIdISO2Type">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="countryIdType">
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1000" />
          <xsd:maxInclusive value="9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="countryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="countryId" type="countryIdType" />
          <xsd:element minOccurs="0" form="qualified" name="countryIdISO2" type="countryIdISO2Type" />
          <xsd:element form="qualified" name="countryNameShort" type="countryNameShortType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0044/1" targetNamespace="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="personIdCategoryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="sexType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1" />
          <xsd:enumeration value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="baseNameType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vnType">
        <xsd:restriction base="xsd:unsignedLong">
          <xsd:minInclusive value="7560000000001" />
          <xsd:maxInclusive value="7569999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="personIdentificationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="vn" type="vnType" />
          <xsd:element form="qualified" name="localPersonId" type="namedPersonIdType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="OtherPersonId" type="namedPersonIdType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="EuPersonId" type="namedPersonIdType" />
          <xsd:element form="qualified" name="officialName" type="baseNameType" />
          <xsd:element form="qualified" name="firstName" type="baseNameType" />
          <xsd:element form="qualified" name="sex" type="sexType" />
          <xsd:element form="qualified" name="dateOfBirth" type="datePartiallyKnownType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="namedPersonIdType">
        <xsd:sequence>
          <xsd:element form="qualified" name="personIdCategory" type="personIdCategoryType" />
          <xsd:element form="qualified" name="personId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="datePartiallyKnownType">
        <xsd:choice>
          <xsd:element form="qualified" name="yearMonthDay" type="xsd:date" />
          <xsd:element form="qualified" name="yearMonth" type="xsd:gYearMonth" />
          <xsd:element form="qualified" name="year" type="xsd:gYear" />
        </xsd:choice>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0008/2" />
      <xsd:simpleType name="nationalityStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
          <xsd:enumeration value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="yesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="nationalityType">
        <xsd:sequence>
          <xsd:element form="qualified" name="nationalityStatus" type="nationalityStatusType" />
          <xsd:element minOccurs="0" form="qualified" name="country" type="eCH-0008:countryType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.inputPersonSearch">
    <wsdl:documentation />
    <wsdl:part name="inputPersonSearch" element="p2:inputPersonSearch" />
  </wsdl:message>
  <wsdl:message name="p2.outputPersonSearch">
    <wsdl:documentation />
    <wsdl:part name="outputPersonSearch" element="p2:outputPersonSearch" />
  </wsdl:message>
  <wsdl:portType name="SI_O102_Suche_sync_ob">
    <wsdl:documentation />
    <wsdl:operation name="SI_O102_Suche_sync_ob">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_O102_Suche_sync_ob" />
      </wsp:Policy>
      <wsdl:input message="p1:p2.inputPersonSearch" />
      <wsdl:output message="p1:p2.outputPersonSearch" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_O102_Suche_sync_obBinding" type="p1:SI_O102_Suche_sync_ob">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_O102_Suche_sync_ob">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_O102_Suche_sync_obService">
    <wsdl:port name="SI_O102_Suche_sync_obPort" binding="p1:SI_O102_Suche_sync_obBinding">
      <address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O102_S07_PSuche:CC_O102_S07_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O102_S07_PSuche&amp;Interface=http%3A%2F%2Fstzh.ch%2FO102%2FeCH-0020%2F2.3%5ESI_O102_Suche_sync_ob" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>