KiSS4939/Kiss.Server.Einwohnerregister/Service References/OmegaAdresseHistService/SI_O103_histAdr_sync_ob1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://stzh.ch/O103/eCH-0020/2.3" name="SI_O103_histAdr_sync_ob" targetNamespace="http://stzh.ch/O103/eCH-0020/2.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_O103_S05b_histAdr_sync_ob" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0010/3" targetNamespace="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="foreignZipCodeType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="addressLineType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1000" />
          <xsd:maxInclusive value="9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxNumberType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:maxInclusive value="9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="localityType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="dwellingNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxTextType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeIdType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="countryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeAddOnType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="streetType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="houseNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="townType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="addressInformationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="addressLine1" type="addressLineType" />
          <xsd:element minOccurs="0" form="qualified" name="addressLine2" type="addressLineType" />
          <xsd:sequence minOccurs="0">
            <xsd:element form="qualified" name="street" type="streetType" />
            <xsd:element minOccurs="0" form="qualified" name="houseNumber" type="houseNumberType" />
            <xsd:element minOccurs="0" form="qualified" name="dwellingNumber" type="dwellingNumberType" />
          </xsd:sequence>
          <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" form="qualified" name="postOfficeBoxNumber" type="postOfficeBoxNumberType" />
            <xsd:element form="qualified" name="postOfficeBoxText" type="postOfficeBoxTextType" />
          </xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="locality" type="localityType" />
          <xsd:element form="qualified" name="town" type="townType" />
          <xsd:choice>
            <xsd:sequence>
              <xsd:element form="qualified" name="swissZipCode" type="swissZipCodeType" />
              <xsd:element minOccurs="0" form="qualified" name="swissZipCodeAddOn" type="swissZipCodeAddOnType" />
              <xsd:element minOccurs="0" form="qualified" name="swissZipCodeId" type="swissZipCodeIdType" />
            </xsd:sequence>
            <xsd:element minOccurs="0" form="qualified" name="foreignZipCode" type="foreignZipCodeType" />
          </xsd:choice>
          <xsd:element form="qualified" name="country" type="countryType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0078/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="infoTextType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="infoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="code">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" form="qualified" name="textEnglish" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textGerman" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textFrench" type="infoTextType" />
          <xsd:element minOccurs="0" form="qualified" name="textItalian" type="infoTextType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4" targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0010/3" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0044/1" />
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" />
      <xsd:element name="knownAddressesRequest">
        <xsd:annotation>
          <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen - Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="knownAddressesHeader">
              <xsd:annotation>
                <xsd:documentation>Kopfdaten zum Request</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" form="qualified" name="techuserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element form="qualified" name="enduserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" form="qualified" name="enduserName">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element form="qualified" name="knownAddressesBody">
              <xsd:annotation>
                <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen Eingabeparameter</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element form="qualified" name="inputKnownAddressesPerson" type="p2:inputKnownAddressesPersonType" />
                  <xsd:element form="qualified" name="inputKnownAddressesParameters" type="p2:inputKnownAddressParametersType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="knownAddressesResponse">
        <xsd:annotation>
          <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen - Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="outputKnownAddressesPerson" type="p2:outputCurrentAddressPersonType" />
            <xsd:element form="qualified" name="outputKnownAddresses" type="p2:outputKnownAddressesType" />
            <xsd:element minOccurs="0" form="qualified" name="outputKnownAddressesError" type="eCH-0078:infoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="knownAddressType">
        <xsd:sequence>
          <xsd:element form="qualified" name="addressType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:enumeration value="0" />
                <xsd:enumeration value="1" />
                <xsd:enumeration value="2" />
                <xsd:enumeration value="3" />
                <xsd:enumeration value="4" />
                <xsd:enumeration value="5" />
                <xsd:enumeration value="6" />
                <xsd:enumeration value="7" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="qualified" name="validFrom" type="xsd:date" />
          <xsd:element form="qualified" name="validTo" type="xsd:date" />
          <xsd:element form="qualified" name="address" type="eCH-0010:addressInformationType" />
          <xsd:element form="qualified" name="addressLock" type="eCH-0011:yesNoType" />
          <xsd:element minOccurs="0" form="qualified" name="streetCode" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="cityCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:minInclusive value="1" />
                <xsd:maxInclusive value="9999" />
                <xsd:totalDigits value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" form="qualified" name="EGID" type="eCH-0011:EGIDType" />
          <xsd:element minOccurs="0" form="qualified" name="EWID" type="eCH-0011:EWIDType" />
          <xsd:element minOccurs="0" form="qualified" name="typeOfHousehold">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="0" />
                <xsd:enumeration value="1" />
                <xsd:enumeration value="2" />
                <xsd:enumeration value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" form="qualified" name="householdId" type="xsd:token" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="outputKnownAddressesType">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="knownAddress" type="p2:knownAddressType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inputKnownAddressesPersonType">
        <xsd:annotation>
          <xsd:documentation>Adressaufbereitung bekannte Adressen Person</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element form="qualified" name="personIdentification" type="eCH-0044:personIdentificationType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inputKnownAddressParametersType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="validFrom" type="xsd:date" />
          <xsd:element minOccurs="0" form="qualified" name="validTo" type="xsd:date" />
          <xsd:element minOccurs="0" form="qualified" name="addressTypes">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" form="qualified" name="addressType">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                      <xsd:enumeration value="0" />
                      <xsd:enumeration value="1" />
                      <xsd:enumeration value="2" />
                      <xsd:enumeration value="3" />
                      <xsd:enumeration value="4" />
                      <xsd:enumeration value="5" />
                      <xsd:enumeration value="6" />
                      <xsd:enumeration value="7" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="outputCurrentAddressPersonType">
        <xsd:annotation>
          <xsd:documentation>Adressaufbereitung Postalische Adresse Person</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element form="qualified" name="personIdentification" type="eCH-0044:personIdentificationType" />
          <xsd:element minOccurs="0" form="qualified" name="guardianIdentification" type="eCH-0044:personIdentificationType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0044/1" targetNamespace="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="personIdCategoryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="sexType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1" />
          <xsd:enumeration value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="baseNameType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vnType">
        <xsd:restriction base="xsd:unsignedLong">
          <xsd:minInclusive value="7560000000001" />
          <xsd:maxInclusive value="7569999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="personIdentificationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="vn" type="vnType" />
          <xsd:element form="qualified" name="localPersonId" type="namedPersonIdType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="OtherPersonId" type="namedPersonIdType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="EuPersonId" type="namedPersonIdType" />
          <xsd:element form="qualified" name="officialName" type="baseNameType" />
          <xsd:element form="qualified" name="firstName" type="baseNameType" />
          <xsd:element form="qualified" name="sex" type="sexType" />
          <xsd:element form="qualified" name="dateOfBirth" type="datePartiallyKnownType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="namedPersonIdType">
        <xsd:sequence>
          <xsd:element form="qualified" name="personIdCategory" type="personIdCategoryType" />
          <xsd:element form="qualified" name="personId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="datePartiallyKnownType">
        <xsd:choice>
          <xsd:element form="qualified" name="yearMonthDay" type="xsd:date" />
          <xsd:element form="qualified" name="yearMonth" type="xsd:gYearMonth" />
          <xsd:element form="qualified" name="year" type="xsd:gYear" />
        </xsd:choice>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.ech.ch/xmlns/eCH-0011/4" targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="EWIDType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1" />
          <xsd:maxInclusive value="999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="yesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EGIDType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.knownAddressesRequest">
    <wsdl:documentation />
    <wsdl:part name="knownAddressesRequest" element="p2:knownAddressesRequest" />
  </wsdl:message>
  <wsdl:message name="p2.knownAddressesResponse">
    <wsdl:documentation />
    <wsdl:part name="knownAddressesResponse" element="p2:knownAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_O103_histAdr_sync_ob">
    <wsdl:documentation />
    <wsdl:operation name="SI_O103_S05b_histAdr_sync_ob">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_O103_S05b_histAdr_sync_ob" />
      </wsp:Policy>
      <wsdl:input message="p1:p2.knownAddressesRequest" />
      <wsdl:output message="p1:p2.knownAddressesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_O103_histAdr_sync_obBinding" type="p1:SI_O103_histAdr_sync_ob">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_O103_S05b_histAdr_sync_ob">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_O103_histAdr_sync_obService">
    <wsdl:port name="SI_O103_histAdr_sync_obPort" binding="p1:SI_O103_histAdr_sync_obBinding">
      <address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=KISS:BC_O103_S05_Person_Adr:CC_O103_S05b_WS_OUT&amp;version=3.0&amp;Sender.Party=http%3A%2F%2Fsap.com%2Fxi%2FXI%3AXIParty%3AKISS&amp;Sender.Service=BC_O103_S05_Person_Adr&amp;Interface=http%3A%2F%2Fstzh.ch%2FO103%2FeCH-0020%2F2.3%5ESI_O103_histAdr_sync_ob" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>