KiSS4939/Kiss.Server.WebserviceStarter/Service References/KissEinwohnerregisterService/KissEinwohnerregisterService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KissEinwohnerregisterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kiss.Infrastructure" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" />
      <xsd:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKissEinwohnerregisterService_GetPersonDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetails" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_GetPersonDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_GetServerVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersion" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_GetServerVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_PersonenAnAbmelden_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonenAnAbmelden" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_PersonenAnAbmelden_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonenAnAbmeldenResponse" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_PersonSuchen_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonSuchen" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_PersonSuchen_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonSuchenResponse" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_ProcessEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEvents" />
  </wsdl:message>
  <wsdl:message name="IKissEinwohnerregisterService_ProcessEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IKissEinwohnerregisterService">
    <wsdl:operation name="GetPersonDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/GetPersonDetails" message="tns:IKissEinwohnerregisterService_GetPersonDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/GetPersonDetailsResponse" message="tns:IKissEinwohnerregisterService_GetPersonDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/GetServerVersion" message="tns:IKissEinwohnerregisterService_GetServerVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/GetServerVersionResponse" message="tns:IKissEinwohnerregisterService_GetServerVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonenAnAbmelden">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/PersonenAnAbmelden" message="tns:IKissEinwohnerregisterService_PersonenAnAbmelden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/PersonenAnAbmeldenResponse" message="tns:IKissEinwohnerregisterService_PersonenAnAbmelden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonSuchen">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/PersonSuchen" message="tns:IKissEinwohnerregisterService_PersonSuchen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/PersonSuchenResponse" message="tns:IKissEinwohnerregisterService_PersonSuchen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/ProcessEvents" message="tns:IKissEinwohnerregisterService_ProcessEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissEinwohnerregisterService/ProcessEventsResponse" message="tns:IKissEinwohnerregisterService_ProcessEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKissEinwohnerregisterService" type="tns:IKissEinwohnerregisterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonDetails">
      <soap:operation soapAction="http://tempuri.org/IKissEinwohnerregisterService/GetPersonDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <soap:operation soapAction="http://tempuri.org/IKissEinwohnerregisterService/GetServerVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonenAnAbmelden">
      <soap:operation soapAction="http://tempuri.org/IKissEinwohnerregisterService/PersonenAnAbmelden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonSuchen">
      <soap:operation soapAction="http://tempuri.org/IKissEinwohnerregisterService/PersonSuchen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessEvents">
      <soap:operation soapAction="http://tempuri.org/IKissEinwohnerregisterService/ProcessEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KissEinwohnerregisterService">
    <wsdl:port name="BasicHttpBinding_IKissEinwohnerregisterService" binding="tns:BasicHttpBinding_IKissEinwohnerregisterService">
      <soap:address location="http://localhost:52671/KissEinwohnerregisterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>