KiSS4939/Kiss.Server.WebserviceStarter/Service References/KissEinwohnerregisterService/KissEinwohnerregisterService78.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kiss.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuestionAnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionAnswerOption" nillable="true" type="tns:QuestionAnswerOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionAnswerOption" nillable="true" type="tns:ArrayOfQuestionAnswerOption" />
  <xs:complexType name="QuestionAnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionAnswerOption" nillable="true" type="tns:QuestionAnswerOption" />
</xs:schema>