KiSS4939/KiSS4.FAMOZ.KiSSSvc/KiSSSvc.SAP.PSCD.WebServiceHelper/Web References/WebReferences.EinzahlungenStadt/MI_STADT_EINZAHL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="urn:sap-com:document:sap:rfc:functions" xmlns:p1="http://STZH" name="MI_STADT_EINZAHL" targetNamespace="http://STZH" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="_-STZH_-READ_STADT_EINZAHL">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_STADT_EINZAHL">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p2:_-STZH_-SOZ_DFKKZP" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="_-STZH_-READ_STADT_EINZAHL.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_STADT_EINZAHL">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p2:_-STZH_-SOZ_DFKKZP" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union xmlns="urn:sap-com:document:sap:rfc:functions" memberTypes="xsd:date p2:genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="_-STZH_-SOZ_DFKKZP">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MANDT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KEYZ1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="POSZA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BANKN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BETRZ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALUT" type="p2:date" />
          <xsd:element minOccurs="0" name="TXTVW">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KOINH">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2._-STZH_-READ_STADT_EINZAHL.Input">
    <wsdl:part name="parameters" element="p2:_-STZH_-READ_STADT_EINZAHL" />
  </wsdl:message>
  <wsdl:message name="p2._-STZH_-READ_STADT_EINZAHL.Output">
    <wsdl:part name="parameters" element="p2:_-STZH_-READ_STADT_EINZAHL.Response" />
  </wsdl:message>
  <wsdl:portType name="MI_STADT_EINZAHL">
    <wsdl:operation name="MI_STADT_EINZAHL">
      <wsdl:input message="p1:p2._-STZH_-READ_STADT_EINZAHL.Input" />
      <wsdl:output message="p1:p2._-STZH_-READ_STADT_EINZAHL.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_STADT_EINZAHLBinding" type="p1:MI_STADT_EINZAHL">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="MI_STADT_EINZAHL">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MI_STADT_EINZAHLService">
    <wsdl:port name="MI_STADT_EINZAHLPort" binding="p1:MI_STADT_EINZAHLBinding">
      <address location="http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_STADT_EINZAHL_SENDEN_450:CC_SOAP_GET_STADT_EINZAHL&amp;version=3.0&amp;Sender.Service=BS_KISS_STADT_EINZAHL_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_STADT_EINZAHL" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>