KiSS4939/Kiss.Server.WebserviceStarter/Service References/KissIbanService/KissIbanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConvertToIban">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kontoNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clearingNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToIbanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToIbanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestIbanWebservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kontoNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clearingNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestIbanWebserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestIbanWebserviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>