KiSS4939/Kiss.Server.WebserviceStarter/Service References/KissIbanService/KissIbanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KissIbanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55101/KissIbanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55101/KissIbanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKissIbanService_ConvertToIban_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToIban" />
  </wsdl:message>
  <wsdl:message name="IKissIbanService_ConvertToIban_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToIbanResponse" />
  </wsdl:message>
  <wsdl:message name="IKissIbanService_GetServerVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersion" />
  </wsdl:message>
  <wsdl:message name="IKissIbanService_GetServerVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IKissIbanService_TestIbanWebservice_InputMessage">
    <wsdl:part name="parameters" element="tns:TestIbanWebservice" />
  </wsdl:message>
  <wsdl:message name="IKissIbanService_TestIbanWebservice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestIbanWebserviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IKissIbanService">
    <wsdl:operation name="ConvertToIban">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissIbanService/ConvertToIban" message="tns:IKissIbanService_ConvertToIban_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissIbanService/ConvertToIbanResponse" message="tns:IKissIbanService_ConvertToIban_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissIbanService/GetServerVersion" message="tns:IKissIbanService_GetServerVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissIbanService/GetServerVersionResponse" message="tns:IKissIbanService_GetServerVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestIbanWebservice">
      <wsdl:input wsaw:Action="http://tempuri.org/IKissIbanService/TestIbanWebservice" message="tns:IKissIbanService_TestIbanWebservice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKissIbanService/TestIbanWebserviceResponse" message="tns:IKissIbanService_TestIbanWebservice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKissIbanService" type="tns:IKissIbanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertToIban">
      <soap:operation soapAction="http://tempuri.org/IKissIbanService/ConvertToIban" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <soap:operation soapAction="http://tempuri.org/IKissIbanService/GetServerVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestIbanWebservice">
      <soap:operation soapAction="http://tempuri.org/IKissIbanService/TestIbanWebservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KissIbanService">
    <wsdl:port name="BasicHttpBinding_IKissIbanService" binding="tns:BasicHttpBinding_IKissIbanService">
      <soap:address location="http://localhost:55101/KissIbanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>