KiSS4939/KiSS4.Schnittstellen/Service References/AbacAddress200710/Address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:act="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" xmlns:addresstypes="http://www.abacus.ch/abaconnect/2007.10/adre/AddressTypes" xmlns:address="http://www.abacus.ch/abaconnect/2007.10/adre/Address" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abacus.ch/abaconnect/2007.10/adre/Address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AbaConnectTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" />
  <xs:import schemaLocation="AddressTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/adre/AddressTypes" />
  <xs:element name="DeleteRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeleteResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefaultValuesRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefaultValuesResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindRequest" type="address:RequestType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedRequest" type="act:RequestFinishedType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedResponse" type="address:ResponseType">
    <xs:annotation>
      <xs:documentation>Address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AbaConnectParam" type="act:RequestParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationParam" type="act:ApplicationParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FindParam" type="act:FindType" />
      <xs:element minOccurs="0" name="Data" type="addresstypes:AddressAbaDefaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="ResponseMessage" type="act:ACResponseType" />
      <xs:element minOccurs="0" name="DataContainer" type="address:DataContainerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataContainerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data" type="addresstypes:AddressAbaDefaultType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>