KiSS4939/Kiss.BusinessLogic/Service References/EinwohnerregisterService/KissEinwohnerregisterService514.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BaEinwohnerregisterPersonAnfrageDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaEinwohnerregisterPersonResultDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aliasname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AndererName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuslaenderStatusCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AuslaenderStatusGueltigBis" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Krankenkassen" nillable="true" type="tns:ArrayOfBaEinwohnerregisterKrankenkasseDTO" />
          <xs:element minOccurs="0" name="ReligionCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Rufname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Todesdatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WegzugDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WegzugKanton" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WegzugLandIso2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WegzugOrt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WegzugOrtCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="WegzugPlz" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZivilstandCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZivilstandDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ZuzugDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ZuzugKanton" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZuzugLandIso2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZuzugOrt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZuzugOrtCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZuzugPlz" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterPersonAnfrageDTO" nillable="true" type="tns:BaEinwohnerregisterPersonAnfrageDTO" />
  <xs:complexType name="BaEinwohnerregisterPersonResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AHVNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adressen" nillable="true" type="tns:ArrayOfBaEinwohnerregisterAdresseDTO" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EuPersonIds" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Geburtsdatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeschlechtCode" type="xs:int" />
      <xs:element minOccurs="0" name="Heimatorte" nillable="true" type="tns:ArrayOfBaEinwohnerregisterHeimatortDTO" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationLand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationLandId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationLandIso2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Versichertennummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZARNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZEMISNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZhNr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterPersonResultDTO" nillable="true" type="tns:BaEinwohnerregisterPersonResultDTO" />
  <xs:complexType name="ArrayOfBaEinwohnerregisterAdresseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaEinwohnerregisterAdresseDTO" nillable="true" type="tns:BaEinwohnerregisterAdresseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaEinwohnerregisterAdresseDTO" nillable="true" type="tns:ArrayOfBaEinwohnerregisterAdresseDTO" />
  <xs:complexType name="BaEinwohnerregisterAdresseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdresseCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DatumBis" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumVon" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gesperrt" type="xs:boolean" />
      <xs:element minOccurs="0" name="HausNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kanton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Land" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrtCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Plz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlzId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlzZusatz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postfach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostfachOhneNr" type="xs:boolean" />
      <xs:element minOccurs="0" name="Strasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrasseCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zusatz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterAdresseDTO" nillable="true" type="tns:BaEinwohnerregisterAdresseDTO" />
  <xs:complexType name="ArrayOfBaEinwohnerregisterHeimatortDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaEinwohnerregisterHeimatortDTO" nillable="true" type="tns:BaEinwohnerregisterHeimatortDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaEinwohnerregisterHeimatortDTO" nillable="true" type="tns:ArrayOfBaEinwohnerregisterHeimatortDTO" />
  <xs:complexType name="BaEinwohnerregisterHeimatortDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BfsCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Heimatort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kanton" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterHeimatortDTO" nillable="true" type="tns:BaEinwohnerregisterHeimatortDTO" />
  <xs:complexType name="ArrayOfBaEinwohnerregisterKrankenkasseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaEinwohnerregisterKrankenkasseDTO" nillable="true" type="tns:BaEinwohnerregisterKrankenkasseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaEinwohnerregisterKrankenkasseDTO" nillable="true" type="tns:ArrayOfBaEinwohnerregisterKrankenkasseDTO" />
  <xs:complexType name="BaEinwohnerregisterKrankenkasseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetragAnspruch" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BetragAuszahlung" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Folgenummer" type="xs:int" />
      <xs:element minOccurs="0" name="Jahr" type="xs:int" />
      <xs:element minOccurs="0" name="KrankenkasseNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetzteMutation" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterKrankenkasseDTO" nillable="true" type="tns:BaEinwohnerregisterKrankenkasseDTO" />
  <xs:complexType name="BaEinwohnerregisterPersonSucheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AHV11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AHV13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geburtsdatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeschlechtCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hausnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nachname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Strasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZARNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZEMISNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZHNr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaEinwohnerregisterPersonSucheDTO" nillable="true" type="tns:BaEinwohnerregisterPersonSucheDTO" />
  <xs:complexType name="ArrayOfBaEinwohnerregisterPersonResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaEinwohnerregisterPersonResultDTO" nillable="true" type="tns:BaEinwohnerregisterPersonResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaEinwohnerregisterPersonResultDTO" nillable="true" type="tns:ArrayOfBaEinwohnerregisterPersonResultDTO" />
</xs:schema>