KiSS4939/Kiss.BusinessLogic/Service References/EinwohnerregisterService/KissEinwohnerregisterService516.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kiss.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kiss.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" />
  <xs:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces" />
  <xs:import schemaLocation="http://localhost:52671/KissEinwohnerregisterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" />
  <xs:complexType name="ServiceResultOfBaEinwohnerregisterPersonAnfrageDTOOoDEtP87">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Kiss.Infrastructure" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BaEinwohnerregisterPersonAnfrageDTO" Namespace="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" minOccurs="0" name="Result" nillable="true" type="q1:BaEinwohnerregisterPersonAnfrageDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfBaEinwohnerregisterPersonAnfrageDTOOoDEtP87" nillable="true" type="tns:ServiceResultOfBaEinwohnerregisterPersonAnfrageDTOOoDEtP87" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServiceResultEntries" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="ServiceResultEntry">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kiss.Interfaces" minOccurs="0" name="AvailableAnswerOptions" nillable="true" type="q3:ArrayOfQuestionAnswerOption" />
      <xs:element minOccurs="0" name="ExceptionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MessageParameters" nillable="true" type="q4:ArrayOfanyType" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" minOccurs="0" name="ResultType" type="q5:ServiceResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResultEntry" nillable="true" type="tns:ServiceResultEntry" />
  <xs:complexType name="ServiceResultOfArrayOfBaEinwohnerregisterPersonResultDTOOoDEtP87">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Kiss.Infrastructure" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBaEinwohnerregisterPersonResultDTO" Namespace="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kiss.DbContext.DTO.Ba" minOccurs="0" name="Result" nillable="true" type="q6:ArrayOfBaEinwohnerregisterPersonResultDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfBaEinwohnerregisterPersonResultDTOOoDEtP87" nillable="true" type="tns:ServiceResultOfArrayOfBaEinwohnerregisterPersonResultDTOOoDEtP87" />
</xs:schema>