KiSS4939/Kiss.Server.PSCD.Client/Service References/SstZahlungseingaengeAbholenWebService/Kiss2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kiss.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kiss.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SerializableUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatorModifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUserAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserBIAGAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableUser" nillable="true" type="tns:SerializableUser" />
</xs:schema>