KiSS4939/Kiss.Server.PSCD.Client/Service References/SstZahlungseingaengeAbholenWebService/Kiss.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Kiss.Server.PSCD" elementFormDefault="qualified" targetNamespace="http://Kiss.Server.PSCD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chbehvs006.chbe01.local:88/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kiss.BL" />
  <xs:import schemaLocation="http://chbehvs006.chbe01.local:88/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" />
  <xs:element name="ZahlungseingaengeAbholen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kiss.BL" minOccurs="0" name="user" nillable="true" type="q1:SerializableUser" />
        <xs:element minOccurs="0" name="timestampFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZahlungseingaengeAbholenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" minOccurs="0" name="ZahlungseingaengeAbholenResult" nillable="true" type="q2:KissServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>