KiSS4939/Kiss.Server.PSCD.Client/Service References/SstZahlungseingaengeAbholenWebService/Kiss1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kiss.Interfaces.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chbehvs006.chbe01.local:88/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://chbehvs006.chbe01.local:88/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="KissServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="KissServiceResultEntries" nillable="true" type="tns:ArrayOfKissServiceResultEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KissServiceResult" nillable="true" type="tns:KissServiceResult" />
  <xs:complexType name="ArrayOfKissServiceResultEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KissServiceResultEntry" nillable="true" type="tns:KissServiceResultEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKissServiceResultEntry" nillable="true" type="tns:ArrayOfKissServiceResultEntry" />
  <xs:complexType name="KissServiceResultEntry">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MessageParameters" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultType" type="tns:KissServiceResult.ResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KissServiceResultEntry" nillable="true" type="tns:KissServiceResultEntry" />
  <xs:simpleType name="KissServiceResult.ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KissServiceResult.ResultType" nillable="true" type="tns:KissServiceResult.ResultType" />
</xs:schema>