KiSS4939/KiSS4.FAMOZ.KiSSSvc/KiSSSvc.Omega/wsdl/SI_O102_Suche_sync_ob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_O102_Suche_sync_ob" targetNamespace="http://stzh.ch/O102/eCH-0020/2.3" xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:p1="http://stzh.ch/O102/eCH-0020/2.3" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_O102_Suche_sync_ob"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0010/3" xmlns="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="foreignZipCodeType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="addressLineType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1000"/>
          <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxNumberType">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="localityType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="dwellingNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="postOfficeBoxTextType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeIdType">
        <xsd:restriction base="xsd:int"/>
      </xsd:simpleType>
      <xsd:simpleType name="countryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="swissZipCodeAddOnType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="streetType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="houseNumberType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="townType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4"/>
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0044/1"/>
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0010/3"/>
      <xsd:element name="outputPersonSearch">
        <xsd:annotation>
          <xsd:documentation>Service Personensuche Ausgabeparameter</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numberOfPersons" type="numberOfPersonsType" form="qualified"/>
            <xsd:element name="persons" type="searchResultPersonsType" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inputPersonSearch">
        <xsd:annotation>
          <xsd:documentation>Service Personensuche Eingabeparameter</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="personId" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="40"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="firstName" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="40"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sex" type="eCH-0044:sexType" minOccurs="0" form="qualified"/>
            <xsd:element name="birthYear" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="birthMonth" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="birthDay" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AHV11" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="11"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AHV13" type="eCH-0044:vnType" minOccurs="0" form="qualified"/>
            <xsd:element name="ZEMISNr" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZARNr" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="9"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZHNr" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="street" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="25"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="houseNr" minOccurs="0" form="qualified">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="numberOfPersonsType">
        <xsd:restriction base="xsd:nonNegativeInteger"/>
      </xsd:simpleType>
      <xsd:complexType name="searchResultAdditionalDataType">
        <xsd:sequence>
          <xsd:element name="nationality" type="eCH-0011:nationalityType" form="qualified"/>
          <xsd:element name="personActive" type="eCH-0011:yesNoType" form="qualified"/>
          <xsd:element name="address" type="addressInformationType" minOccurs="0" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="searchResultPersonType">
        <xsd:sequence>
          <xsd:element name="personIdentification" type="eCH-0044:personIdentificationType" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="searchResultPersonsType">
        <xsd:sequence>
          <xsd:element name="searchResultPerson" type="searchResultPersonType" form="qualified"/>
          <xsd:element name="additionalData" type="searchResultAdditionalDataType" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="addressInformationType">
        <xsd:annotation>
          <xsd:documentation>wie eCH-0010 addressInformationType, jedoch alle Felder ausser Land als Kannfelder</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="addressLine1" type="eCH-0010:addressLineType" minOccurs="0" form="qualified"/>
          <xsd:element name="addressLine2" type="eCH-0010:addressLineType" minOccurs="0" form="qualified"/>
          <xsd:element name="street" type="eCH-0010:streetType" minOccurs="0" form="qualified"/>
          <xsd:element name="houseNumber" type="eCH-0010:houseNumberType" minOccurs="0" form="qualified"/>
          <xsd:element name="dwellingNumber" type="eCH-0010:dwellingNumberType" minOccurs="0" form="qualified"/>
          <xsd:element name="postOfficeBoxNumber" type="eCH-0010:postOfficeBoxNumberType" minOccurs="0" form="qualified"/>
          <xsd:element name="postOfficeBoxText" type="eCH-0010:postOfficeBoxTextType" minOccurs="0" form="qualified"/>
          <xsd:element name="locality" type="eCH-0010:localityType" minOccurs="0" form="qualified"/>
          <xsd:element name="town" type="eCH-0010:townType" minOccurs="0" form="qualified"/>
          <xsd:element name="swissZipCode" type="eCH-0010:swissZipCodeType" minOccurs="0" form="qualified"/>
          <xsd:element name="swissZipCodeAddOn" type="eCH-0010:swissZipCodeAddOnType" minOccurs="0" form="qualified"/>
          <xsd:element name="swissZipCodeId" type="eCH-0010:swissZipCodeIdType" minOccurs="0" form="qualified"/>
          <xsd:element name="foreignZipCode" type="eCH-0010:foreignZipCodeType" minOccurs="0" form="qualified"/>
          <xsd:element name="country" type="eCH-0010:countryType" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0008/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0008/2">
      <xsd:simpleType name="countryNameShortType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="countryIdISO2Type">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="countryIdType">
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1000"/>
          <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="countryType">
        <xsd:sequence>
          <xsd:element name="countryId" type="countryIdType" minOccurs="0" form="qualified"/>
          <xsd:element name="countryIdISO2" type="countryIdISO2Type" minOccurs="0" form="qualified"/>
          <xsd:element name="countryNameShort" type="countryNameShortType" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0044/1">
      <xsd:simpleType name="personIdCategoryType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="sexType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="baseNameType">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vnType">
        <xsd:restriction base="xsd:unsignedLong">
          <xsd:minInclusive value="7560000000001"/>
          <xsd:maxInclusive value="7569999999999"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="personIdentificationType">
        <xsd:sequence>
          <xsd:element name="vn" type="vnType" minOccurs="0" form="qualified"/>
          <xsd:element name="localPersonId" type="namedPersonIdType" form="qualified"/>
          <xsd:element name="OtherPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
          <xsd:element name="EuPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
          <xsd:element name="officialName" type="baseNameType" form="qualified"/>
          <xsd:element name="firstName" type="baseNameType" form="qualified"/>
          <xsd:element name="sex" type="sexType" form="qualified"/>
          <xsd:element name="dateOfBirth" type="datePartiallyKnownType" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="namedPersonIdType">
        <xsd:sequence>
          <xsd:element name="personIdCategory" type="personIdCategoryType" form="qualified"/>
          <xsd:element name="personId" form="qualified">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="datePartiallyKnownType">
        <xsd:choice>
          <xsd:element name="yearMonthDay" type="xsd:date" form="qualified"/>
          <xsd:element name="yearMonth" type="xsd:gYearMonth" form="qualified"/>
          <xsd:element name="year" type="xsd:gYear" form="qualified"/>
        </xsd:choice>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2" xmlns="http://www.ech.ch/xmlns/eCH-0011/4">
      <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0008/2"/>
      <xsd:simpleType name="nationalityStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0"/>
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="yesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0"/>
          <xsd:enumeration value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="nationalityType">
        <xsd:sequence>
          <xsd:element name="nationalityStatus" type="nationalityStatusType" form="qualified"/>
          <xsd:element name="country" type="eCH-0008:countryType" minOccurs="0" form="qualified"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.inputPersonSearch">
    <wsdl:documentation/>
    <wsdl:part name="inputPersonSearch" element="p2:inputPersonSearch"/>
  </wsdl:message>
  <wsdl:message name="p2.outputPersonSearch">
    <wsdl:documentation/>
    <wsdl:part name="outputPersonSearch" element="p2:outputPersonSearch"/>
  </wsdl:message>
  <wsdl:portType name="SI_O102_Suche_sync_ob">
    <wsdl:documentation/>
    <wsdl:operation name="SI_O102_Suche_sync_ob">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_O102_Suche_sync_ob"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.inputPersonSearch"/>
      <wsdl:output message="p1:p2.outputPersonSearch"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_O102_Suche_sync_obBinding" type="p1:SI_O102_Suche_sync_ob">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="SI_O102_Suche_sync_ob">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_O102_Suche_sync_obService">
    <wsdl:port name="SI_O102_Suche_sync_obPort" binding="p1:SI_O102_Suche_sync_obBinding">
      <soap:address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O102_S07_PSuche:CC_O102_S07_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O102_S07_PSuche&amp;Interface=http%3A%2F%2Fstzh.ch%2FO102%2FeCH-0020%2F2.3%5ESI_O102_Suche_sync_ob" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>