KiSS4939/KiSS4.Schnittstellen/Service References/AbacFibuClassification201100/FibuClassification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:act="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" xmlns:fibuclassificationtypes="http://www.abacus.ch/abaconnect/2011.00/fibu/FibuClassificationTypes" xmlns:fibuclassification="http://www.abacus.ch/abaconnect/2011.00/fibu/FibuClassification" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abacus.ch/abaconnect/2011.00/fibu/FibuClassification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AbaConnectTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" />
  <xs:import schemaLocation="FibuClassificationTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2011.00/fibu/FibuClassificationTypes" />
  <xs:element name="DeleteRequest" type="fibuclassification:RequestType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeleteResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertRequest" type="fibuclassification:RequestType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateRequest" type="fibuclassification:RequestType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveRequest" type="fibuclassification:RequestType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindRequest" type="fibuclassification:RequestType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedRequest" type="act:RequestFinishedType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedResponse" type="fibuclassification:ResponseType">
    <xs:annotation>
      <xs:documentation>FibuClassification-Classification: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AbaConnectParam" type="act:RequestParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationParam" type="act:ApplicationParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FindParam" type="act:FindType" />
      <xs:element minOccurs="0" name="Data" type="fibuclassificationtypes:FibuClassificationAbaDefaultWSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="ResponseMessage" type="act:ACResponseType" />
      <xs:element minOccurs="0" name="DataContainer" type="fibuclassification:DataContainerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataContainerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data" type="fibuclassificationtypes:FibuClassificationAbaDefaultWSType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>