KiSS4939/KiSS4.FAMOZ.KiSSSvc/KiSSSvc.SAP.PSCD.WebServiceHelper/Web References/WebReferences.WvStatusRueckmeldung/MI_WV_FAKTURA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="urn:sap-com:document:sap:rfc:functions" xmlns:p1="http://STZH" name="MI_WV_FAKTURA" targetNamespace="http://STZH" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="_-STZH_-READ_WV_FAKTURA.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_WV_FAKTURA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p2:_-STZH_-WV_CHG_STA" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="_-STZH_-READ_WV_FAKTURA">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_WV_FAKTURA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p2:_-STZH_-WV_CHG_STA" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="_-STZH_-WV_CHG_STA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MANDT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OPBEL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OPUPW">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OPUPK">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OPUPZ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIMESTAMP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FUBANAME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WVSTAT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2._-STZH_-READ_WV_FAKTURA.Input">
    <wsdl:part name="parameters" element="p2:_-STZH_-READ_WV_FAKTURA" />
  </wsdl:message>
  <wsdl:message name="p2._-STZH_-READ_WV_FAKTURA.Output">
    <wsdl:part name="parameters" element="p2:_-STZH_-READ_WV_FAKTURA.Response" />
  </wsdl:message>
  <wsdl:portType name="MI_WV_FAKTURA">
    <wsdl:operation name="MI_WV_FAKTURA">
      <wsdl:input message="p1:p2._-STZH_-READ_WV_FAKTURA.Input" />
      <wsdl:output message="p1:p2._-STZH_-READ_WV_FAKTURA.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_WV_FAKTURABinding" type="p1:MI_WV_FAKTURA">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="MI_WV_FAKTURA">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MI_WV_FAKTURAService">
    <wsdl:port name="MI_WV_FAKTURAPort" binding="p1:MI_WV_FAKTURABinding">
      <address location="http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_WV_FAKTURA_SENDEN_450:CC_SOAP_GET_WV_FAKTURA&amp;version=3.0&amp;Sender.Service=BS_KISS_WV_FAKTURA_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_WV_FAKTURA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>