KiSS4939/Kiss.Server.PSCD/Service References/PSCDProxy/FAMOZ_SD01_CREATE_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stzh.ch/FAMOZ_SD01_CREATE_WS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stzh.ch/FAMOZ_SD01_CREATE_WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <s:element name="_-STZH_-SOZ_CD_F2_BELEG_CREATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CALLER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOCUMENTHEADER" type="s0:_-STZH_-SOZ_CD_F2_BAPIDFKKKO" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PAYMENTINFO" type="s0:_-STZH_-SOZ_CD_F2_BAPI_PAYMENT" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PARTNERPOSITIONS" type="s0:ArrayOf_STZH_SOZ_CD_F2_BAPIDFKKOP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_-STZH_-SOZ_CD_F2_BAPIDFKKKO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOC_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOC_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOC_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="POST_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NET_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REF_DOC_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PAYMENT_LOT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PAYMENT_LOT_POS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_-STZH_-SOZ_CD_F2_BAPI_PAYMENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PAYMENT_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_BANK_COUNTRY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_BANK_KEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_BANK_ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_BANK_IBAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_ESR_ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_ESR_REFERENCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_ESR_CHECKDIGIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_NAME2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_STREET" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_HOUSE_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_POST_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_CITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_COUNTRY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_TXT1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_TXT2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER_TXT3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_BANK_ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_BANK_IBAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_NAME2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_STREET" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_HOUSE_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_POST_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_CITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER_COUNTRY" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOf_STZH_SOZ_CD_F2_BAPIDFKKOP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="item" type="s0:_-STZH_-SOZ_CD_F2_BAPIDFKKOP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_-STZH_-SOZ_CD_F2_BAPIDFKKOP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ITEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TRANSACTION_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TRANSACTION_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REVERSAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AMOUNT_LOC_CURR" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REFERENCE_DOCUMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REFERENCE_ITEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COST_CENTER" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_-STZH_-SOZ_CD_F2_BELEG_CREATE.Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOCUMENTNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PARTNERPOSITIONS" type="s0:ArrayOf_STZH_SOZ_CD_F2_BAPIDFKKOP" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RETURN" type="s0:BAPIRET2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BAPIRET2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LOG_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LOG_MSG_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MESSAGE_V1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MESSAGE_V2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MESSAGE_V3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MESSAGE_V4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PARAMETER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ROW" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FIELD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SYSTEM" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MI_SD01_CREATE_WSSoapIn">
    <wsdl:part name="parameters" element="s0:_-STZH_-SOZ_CD_F2_BELEG_CREATE" />
  </wsdl:message>
  <wsdl:message name="MI_SD01_CREATE_WSSoapOut">
    <wsdl:part name="parameters" element="s0:_-STZH_-SOZ_CD_F2_BELEG_CREATE.Response" />
  </wsdl:message>
  <wsdl:portType name="MI_SD01_CREATE_WSBinding">
    <wsdl:operation name="MI_SD01_CREATE_WS">
      <wsdl:input message="tns:MI_SD01_CREATE_WSSoapIn" />
      <wsdl:output message="tns:MI_SD01_CREATE_WSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_SD01_CREATE_WSBinding" type="tns:MI_SD01_CREATE_WSBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MI_SD01_CREATE_WS">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MI_SD01_CREATE_WSBinding1" type="tns:MI_SD01_CREATE_WSBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MI_SD01_CREATE_WS">
      <soap12:operation soapAction="http://sap.com/xi/WebService/soap1.1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FAMOZ_SD01_CREATE_WS">
    <wsdl:port name="MI_SD01_CREATE_WSBinding" binding="tns:MI_SD01_CREATE_WSBinding">
      <soap:address location="http://szhm5200/PscdMock/FAMOZ_SD01_CREATE_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="MI_SD01_CREATE_WSBinding1" binding="tns:MI_SD01_CREATE_WSBinding1">
      <soap12:address location="http://szhm5200/PscdMock/FAMOZ_SD01_CREATE_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>