KiSS4939/KiSS4.FAMOZ.KiSSSvc/KiSSSvc.Test.TestGUI/Web References/SettlementInfoReference/SettlementInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.born.ch/KiSS/FAMOZ/PSCD/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.born.ch/KiSS/FAMOZ/PSCD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.born.ch/KiSS/FAMOZ/PSCD/">
      <s:element name="NotifyAboutSettlement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="businessPartnernNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objectNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="incomingPaymentDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="settlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="settlementAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pscdDocumentNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="settlementReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyAboutSettlementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyAboutSettlementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyAboutSettlementSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyAboutSettlement" />
  </wsdl:message>
  <wsdl:message name="NotifyAboutSettlementSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyAboutSettlementResponse" />
  </wsdl:message>
  <wsdl:portType name="SettlementInfoSoap">
    <wsdl:operation name="NotifyAboutSettlement">
      <wsdl:input message="tns:NotifyAboutSettlementSoapIn" />
      <wsdl:output message="tns:NotifyAboutSettlementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SettlementInfoSoap" type="tns:SettlementInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyAboutSettlement">
      <soap:operation soapAction="http://www.born.ch/KiSS/FAMOZ/PSCD/NotifyAboutSettlement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SettlementInfoSoap12" type="tns:SettlementInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyAboutSettlement">
      <soap12:operation soapAction="http://www.born.ch/KiSS/FAMOZ/PSCD/NotifyAboutSettlement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SettlementInfo">
    <wsdl:port name="SettlementInfoSoap" binding="tns:SettlementInfoSoap">
      <soap:address location="http://localhost:2621/SettlementInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="SettlementInfoSoap12" binding="tns:SettlementInfoSoap12">
      <soap12:address location="http://localhost:2621/SettlementInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>