KiSS4939/KiSS4.Schnittstellen/Service References/AbacHierarchyAddress200710/HierarchyAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:act="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" xmlns:hierarchyaddress="http://www.abacus.ch/abaconnect/2007.10/adre/HierarchyAddress" xmlns:hierarchyaddresstypes="http://www.abacus.ch/abaconnect/2007.10/adre/HierarchyAddressTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abacus.ch/abaconnect/2007.10/adre/HierarchyAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AbaConnectTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" />
  <xs:import schemaLocation="HierarchyAddressTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/adre/HierarchyAddressTypes" />
  <xs:element name="DeleteRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeleteResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsertResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SaveResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefaultValuesRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DefaultValuesResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindRequest" type="hierarchyaddress:RequestType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FindResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedRequest" type="act:RequestFinishedType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFinishedResponse" type="hierarchyaddress:ResponseType">
    <xs:annotation>
      <xs:documentation>HierarchyAddress-: </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AbaConnectParam" type="act:RequestParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationParam" type="act:ApplicationParameterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FindParam" type="act:FindType" />
      <xs:element minOccurs="0" name="Data" type="hierarchyaddresstypes:HierarchyAddressAbaDefaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="ResponseMessage" type="act:ACResponseType" />
      <xs:element minOccurs="0" name="DataContainer" type="hierarchyaddress:DataContainerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataContainerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data" type="hierarchyaddresstypes:HierarchyAddressAbaDefaultType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>