KiSS4939/Kiss.Server.Einwohnerregister/wsdl/SI_O103_aktAdr_sync_ob_KiSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_O103_aktAdr_sync_ob" targetNamespace="http://stzh.ch/O103/eCH-0020/2.3" xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:p1="http://stzh.ch/O103/eCH-0020/2.3" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_SI_O103_S05a_aktAdr_sync_ob" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0078/2">
            <xsd:simpleType name="infoTextType">
                <xsd:restriction base="xsd:string" />
            </xsd:simpleType>
            <xsd:complexType name="infoType">
                <xsd:sequence>
                    <xsd:element name="code" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="textEnglish" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textGerman" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textFrench" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textItalian" type="infoTextType" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4">
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0044/1" />
            <xsd:element name="currentAddressRequest">
                <xsd:annotation>
                    <xsd:documentation>Service S05a Adressaufbereitung Postalische Adresse - Request</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="currentAddressHeader" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Kopfdaten zum Request</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="techuserId" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserId" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserName" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="50" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="currentAddressBody" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Service S05a Adressaufbereitung Postalische Adresse Eingabeparameter</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="inputCurrentAddressPerson" type="inputCurrentAddressPersonType" form="qualified" />
                                    <xsd:element name="inputCurrentAddressParameters" type="inputCurrentAddressParametersType" form="qualified" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="currentAddressResponse">
                <xsd:annotation>
                    <xsd:documentation>Service S05a Adressaufbereitung Postalische Adresse - Response</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="outputCurrentAddressPerson" type="outputCurrentAddressPersonType" form="qualified" />
                        <xsd:element name="outputCurrentAddress" type="outputCurrentAddressType" form="qualified" />
                        <xsd:element name="outputCurrentAddressError" type="eCH-0078:infoType" minOccurs="0" form="qualified" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="inputCurrentAddressPersonIdentificationType">
                <xsd:annotation>
                    <xsd:documentation>Personenidentifikation anhand der PID</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personId" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:maxLength value="10" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="outputCurrentAddressType">
                <xsd:sequence>
                    <xsd:element name="addressLine1" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLine2" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLine3" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLine4" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLine5" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLine6" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="salutation" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:length value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressLock" type="eCH-0011:yesNoType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inputCurrentAddressPersonType">
                <xsd:annotation>
                    <xsd:documentation>Adressaufbereitung Postalische Adresse Person</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personIdentification" type="inputCurrentAddressPersonIdentificationType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="outputCurrentAddressPersonType">
                <xsd:annotation>
                    <xsd:documentation>Adressaufbereitung Postalische Adresse Person</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personIdentification" type="eCH-0044:personIdentificationType" form="qualified" />
                    <xsd:element name="guardianIdentification" type="eCH-0044:personIdentificationType" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inputCurrentAddressParametersType">
                <xsd:sequence>
                    <xsd:element name="personType" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="salutationFormat" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="salutationType" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="addressType" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="8" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="nameFormat" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0044/1">
            <xsd:simpleType name="personIdCategoryType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="sexType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="1" />
                    <xsd:enumeration value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="baseNameType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="vnType">
                <xsd:restriction base="xsd:unsignedLong">
                    <xsd:minInclusive value="7560000000001" />
                    <xsd:maxInclusive value="7569999999999" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="personIdentificationType">
                <xsd:sequence>
                    <xsd:element name="vn" type="vnType" minOccurs="0" form="qualified" />
                    <xsd:element name="localPersonId" type="namedPersonIdType" form="qualified" />
                    <xsd:element name="OtherPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                    <xsd:element name="EuPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                    <xsd:element name="officialName" type="baseNameType" form="qualified" />
                    <xsd:element name="firstName" type="baseNameType" form="qualified" />
                    <xsd:element name="sex" type="sexType" form="qualified" />
                    <xsd:element name="dateOfBirth" type="datePartiallyKnownType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="namedPersonIdType">
                <xsd:sequence>
                    <xsd:element name="personIdCategory" type="personIdCategoryType" form="qualified" />
                    <xsd:element name="personId" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="datePartiallyKnownType">
                <xsd:choice>
                    <xsd:element name="yearMonthDay" type="xsd:date" form="qualified" />
                    <xsd:element name="yearMonth" type="xsd:gYearMonth" form="qualified" />
                    <xsd:element name="year" type="xsd:gYear" form="qualified" />
                </xsd:choice>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0011/4">
            <xsd:simpleType name="yesNoType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0" />
                    <xsd:enumeration value="1" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p2.currentAddressRequest">
        <wsdl:documentation />
        <wsdl:part name="currentAddressRequest" element="p2:currentAddressRequest" />
    </wsdl:message>
    <wsdl:message name="p2.currentAddressResponse">
        <wsdl:documentation />
        <wsdl:part name="currentAddressResponse" element="p2:currentAddressResponse" />
    </wsdl:message>
    <wsdl:portType name="SI_O103_aktAdr_sync_ob">
        <wsdl:documentation />
        <wsdl:operation name="SI_O103_S05a_aktAdr_sync_ob">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_O103_S05a_aktAdr_sync_ob" />
            </wsp:Policy>
            <wsdl:input message="p1:p2.currentAddressRequest" />
            <wsdl:output message="p1:p2.currentAddressResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_O103_aktAdr_sync_obBinding" type="p1:SI_O103_aktAdr_sync_ob">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="SI_O103_S05a_aktAdr_sync_ob">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_O103_aktAdr_sync_obService">
        <wsdl:port name="SI_O103_aktAdr_sync_obPort" binding="p1:SI_O103_aktAdr_sync_obBinding">
            <soap:address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=KISS:BC_O103_S05_Person_Adr:CC_O103_S05_WS_OUT&amp;version=3.0&amp;Sender.Party=http%3A%2F%2Fsap.com%2Fxi%2FXI%3AXIParty%3AKISS&amp;Sender.Service=BC_O103_S05_Person_Adr&amp;Interface=http%3A%2F%2Fstzh.ch%2FO103%2FeCH-0020%2F2.3%5ESI_O103_aktAdr_sync_ob" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>