KiSS4939/Kiss.Server.Einwohnerregister/wsdl/SI_O103_histAdr_sync_ob_KiSS_b.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_O103_histAdr_sync_ob" targetNamespace="http://stzh.ch/O103/eCH-0020/2.3" xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:p1="http://stzh.ch/O103/eCH-0020/2.3" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_SI_O103_S05b_histAdr_sync_ob" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0010/3" xmlns="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:simpleType name="foreignZipCodeType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="addressLineType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="swissZipCodeType">
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="1000" />
                    <xsd:maxInclusive value="9999" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="postOfficeBoxNumberType">
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:maxInclusive value="9999" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="localityType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="dwellingNumberType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="postOfficeBoxTextType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="swissZipCodeIdType">
                <xsd:restriction base="xsd:int" />
            </xsd:simpleType>
            <xsd:simpleType name="countryType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="swissZipCodeAddOnType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="streetType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="houseNumberType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="12" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="townType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="addressInformationType">
                <xsd:sequence>
                    <xsd:element name="addressLine1" type="addressLineType" minOccurs="0" form="qualified" />
                    <xsd:element name="addressLine2" type="addressLineType" minOccurs="0" form="qualified" />
                    <xsd:sequence minOccurs="0">
                        <xsd:element name="street" type="streetType" form="qualified" />
                        <xsd:element name="houseNumber" type="houseNumberType" minOccurs="0" form="qualified" />
                        <xsd:element name="dwellingNumber" type="dwellingNumberType" minOccurs="0" form="qualified" />
                    </xsd:sequence>
                    <xsd:sequence minOccurs="0">
                        <xsd:element name="postOfficeBoxNumber" type="postOfficeBoxNumberType" minOccurs="0" form="qualified" />
                        <xsd:element name="postOfficeBoxText" type="postOfficeBoxTextType" form="qualified" />
                    </xsd:sequence>
                    <xsd:element name="locality" type="localityType" minOccurs="0" form="qualified" />
                    <xsd:element name="town" type="townType" form="qualified" />
                    <xsd:choice>
                        <xsd:sequence>
                            <xsd:element name="swissZipCode" type="swissZipCodeType" form="qualified" />
                            <xsd:element name="swissZipCodeAddOn" type="swissZipCodeAddOnType" minOccurs="0" form="qualified" />
                            <xsd:element name="swissZipCodeId" type="swissZipCodeIdType" minOccurs="0" form="qualified" />
                        </xsd:sequence>
                        <xsd:element name="foreignZipCode" type="foreignZipCodeType" minOccurs="0" form="qualified" />
                    </xsd:choice>
                    <xsd:element name="country" type="countryType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0078/2">
            <xsd:simpleType name="infoTextType">
                <xsd:restriction base="xsd:string" />
            </xsd:simpleType>
            <xsd:complexType name="infoType">
                <xsd:sequence>
                    <xsd:element name="code" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="textEnglish" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textGerman" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textFrench" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textItalian" type="infoTextType" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4">
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0010/3" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0044/1" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" />
            <xsd:element name="knownAddressesRequest">
                <xsd:annotation>
                    <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen - Request</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="knownAddressesHeader" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Kopfdaten zum Request</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="techuserId" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserId" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserName" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="50" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="knownAddressesBody" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen Eingabeparameter</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="inputKnownAddressesPerson" type="inputKnownAddressesPersonType" form="qualified" />
                                    <xsd:element name="inputKnownAddressesParameters" type="inputKnownAddressParametersType" form="qualified" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="knownAddressesResponse">
                <xsd:annotation>
                    <xsd:documentation>Service S05b Adressaufbereitung Bekannte Adressen - Response</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="outputKnownAddressesPerson" type="outputCurrentAddressPersonType" form="qualified" />
                        <xsd:element name="outputKnownAddresses" type="outputKnownAddressesType" form="qualified" />
                        <xsd:element name="outputKnownAddressesError" type="eCH-0078:infoType" minOccurs="0" form="qualified" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="knownAddressType">
                <xsd:sequence>
                    <xsd:element name="addressType" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                                <xsd:enumeration value="6" />
                                <xsd:enumeration value="7" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="validFrom" type="xsd:date" form="qualified" />
                    <xsd:element name="validTo" type="xsd:date" form="qualified" />
                    <xsd:element name="address" type="eCH-0010:addressInformationType" form="qualified" />
                    <xsd:element name="addressLock" type="eCH-0011:yesNoType" form="qualified" />
                    <xsd:element name="streetCode" type="xsd:int" minOccurs="0" form="qualified" />
                    <xsd:element name="cityCode" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="1" />
                                <xsd:maxInclusive value="9999" />
                                <xsd:totalDigits value="4" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EGID" type="eCH-0011:EGIDType" minOccurs="0" form="qualified" />
                    <xsd:element name="EWID" type="eCH-0011:EWIDType" minOccurs="0" form="qualified" />
                    <xsd:element name="typeOfHousehold" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="householdId" type="xsd:token" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="outputKnownAddressesType">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="knownAddress" type="knownAddressType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inputKnownAddressesPersonType">
                <xsd:annotation>
                    <xsd:documentation>Adressaufbereitung bekannte Adressen Person</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personIdentification" type="eCH-0044:personIdentificationType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inputKnownAddressParametersType">
                <xsd:sequence>
                    <xsd:element name="validFrom" type="xsd:date" minOccurs="0" form="qualified" />
                    <xsd:element name="validTo" type="xsd:date" minOccurs="0" form="qualified" />
                    <xsd:element name="addressTypes" minOccurs="0" form="qualified">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="addressType" maxOccurs="unbounded" form="qualified">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="0" />
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />
                                            <xsd:enumeration value="3" />
                                            <xsd:enumeration value="4" />
                                            <xsd:enumeration value="5" />
                                            <xsd:enumeration value="6" />
                                            <xsd:enumeration value="7" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="outputCurrentAddressPersonType">
                <xsd:annotation>
                    <xsd:documentation>Adressaufbereitung Postalische Adresse Person</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personIdentification" type="eCH-0044:personIdentificationType" form="qualified" />
                    <xsd:element name="guardianIdentification" type="eCH-0044:personIdentificationType" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0044/1">
            <xsd:simpleType name="personIdCategoryType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="sexType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="1" />
                    <xsd:enumeration value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="baseNameType">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="vnType">
                <xsd:restriction base="xsd:unsignedLong">
                    <xsd:minInclusive value="7560000000001" />
                    <xsd:maxInclusive value="7569999999999" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="personIdentificationType">
                <xsd:sequence>
                    <xsd:element name="vn" type="vnType" minOccurs="0" form="qualified" />
                    <xsd:element name="localPersonId" type="namedPersonIdType" form="qualified" />
                    <xsd:element name="OtherPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                    <xsd:element name="EuPersonId" type="namedPersonIdType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                    <xsd:element name="officialName" type="baseNameType" form="qualified" />
                    <xsd:element name="firstName" type="baseNameType" form="qualified" />
                    <xsd:element name="sex" type="sexType" form="qualified" />
                    <xsd:element name="dateOfBirth" type="datePartiallyKnownType" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="namedPersonIdType">
                <xsd:sequence>
                    <xsd:element name="personIdCategory" type="personIdCategoryType" form="qualified" />
                    <xsd:element name="personId" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="datePartiallyKnownType">
                <xsd:choice>
                    <xsd:element name="yearMonthDay" type="xsd:date" form="qualified" />
                    <xsd:element name="yearMonth" type="xsd:gYearMonth" form="qualified" />
                    <xsd:element name="year" type="xsd:gYear" form="qualified" />
                </xsd:choice>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0011/4">
            <xsd:simpleType name="EWIDType">
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="999" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="yesNoType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0" />
                    <xsd:enumeration value="1" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EGIDType">
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="999999999" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p2.knownAddressesRequest">
        <wsdl:documentation />
        <wsdl:part name="knownAddressesRequest" element="p2:knownAddressesRequest" />
    </wsdl:message>
    <wsdl:message name="p2.knownAddressesResponse">
        <wsdl:documentation />
        <wsdl:part name="knownAddressesResponse" element="p2:knownAddressesResponse" />
    </wsdl:message>
    <wsdl:portType name="SI_O103_histAdr_sync_ob">
        <wsdl:documentation />
        <wsdl:operation name="SI_O103_S05b_histAdr_sync_ob">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_O103_S05b_histAdr_sync_ob" />
            </wsp:Policy>
            <wsdl:input message="p1:p2.knownAddressesRequest" />
            <wsdl:output message="p1:p2.knownAddressesResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_O103_histAdr_sync_obBinding" type="p1:SI_O103_histAdr_sync_ob">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="SI_O103_S05b_histAdr_sync_ob">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_O103_histAdr_sync_obService">
        <wsdl:port name="SI_O103_histAdr_sync_obPort" binding="p1:SI_O103_histAdr_sync_obBinding">
            <soap:address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=KISS:BC_O103_S05_Person_Adr:CC_O103_S05b_WS_OUT&amp;version=3.0&amp;Sender.Party=http%3A%2F%2Fsap.com%2Fxi%2FXI%3AXIParty%3AKISS&amp;Sender.Service=BC_O103_S05_Person_Adr&amp;Interface=http%3A%2F%2Fstzh.ch%2FO103%2FeCH-0020%2F2.3%5ESI_O103_histAdr_sync_ob" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>