KiSS4939/Kiss.Server.Einwohnerregister/wsdl/SI_O13_Regist_sync_ob_KiSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p2="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:p1="http://stzh.ch/O13/eCH-0020/2.3" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_O13_Regist_sync_ob" targetNamespace="http://stzh.ch/O13/eCH-0020/2.3">
    <wsdl:documentation />
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0078/2">
            <xsd:simpleType name="infoTextType">
                <xsd:restriction base="xsd:string" />
            </xsd:simpleType>
            <xsd:complexType name="infoType">
                <xsd:sequence>
                    <xsd:element name="code" minOccurs="0" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="textEnglish" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textGerman" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textFrench" type="infoTextType" minOccurs="0" form="qualified" />
                    <xsd:element name="textItalian" type="infoTextType" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.ech.ch/xmlns/eCH-0058/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ech.ch/xmlns/eCH-0058/2">
            <xsd:simpleType name="participantIdType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50" />
                    <xsd:minLength value="1" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.zuerich.ch/xmlns/eZH-0020/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2" xmlns="http://www.zuerich.ch/xmlns/eZH-0020/3">
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0058/2" />
            <xsd:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" />
            <xsd:element name="registrationRequest">
                <xsd:annotation>
                    <xsd:documentation>Service S03a Registrierung - Request</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrationHeader" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Kopfdaten zum Request</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="techuserId" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserId" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="20" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="enduserName" minOccurs="0" form="qualified">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="50" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="registrationBody" form="qualified">
                            <xsd:annotation>
                                <xsd:documentation>Service S03a Registrierung Eingabeparameter</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="recipientId" type="eCH-0058:participantIdType" form="qualified" />
                                    <xsd:choice>
                                        <xsd:element name="personAll" type="registrationPersonAllType" form="qualified" />
                                        <xsd:element name="person" type="registrationPersonType" maxOccurs="unbounded" form="qualified" />
                                    </xsd:choice>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrationResponse">
                <xsd:annotation>
                    <xsd:documentation>Service S03a Registrierung - Response</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="messages" type="eCH-0078:infoType" minOccurs="0" maxOccurs="unbounded" form="qualified" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="registrationPersonType">
                <xsd:annotation>
                    <xsd:documentation>Service Registrierung einzelne Person</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="personId" form="qualified">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:maxLength value="10" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="validFrom" type="xsd:date" minOccurs="0" form="qualified" />
                    <xsd:element name="validTo" type="xsd:date" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="registrationPersonAllType">
                <xsd:annotation>
                    <xsd:documentation>Service Registrierung alle Personen</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="validFrom" type="xsd:date" form="qualified" />
                    <xsd:element name="validTo" type="xsd:date" minOccurs="0" form="qualified" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p2.registrationRequest">
        <wsdl:documentation />
        <wsdl:part name="registrationRequest" element="p2:registrationRequest" />
    </wsdl:message>
    <wsdl:message name="p2.registrationResponse">
        <wsdl:documentation />
        <wsdl:part name="registrationResponse" element="p2:registrationResponse" />
    </wsdl:message>
    <wsdl:portType name="SI_O13_Regist_sync_ob">
        <wsdl:documentation />
        <wsdl:operation name="SI_O13_Regist_sync_ob">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_O13_Regist_sync_ob" />
            </wsp:Policy>
            <wsdl:input message="p1:p2.registrationRequest" />
            <wsdl:output message="p1:p2.registrationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_O13_Regist_sync_obBinding" type="p1:SI_O13_Regist_sync_ob">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="SI_O13_Regist_sync_ob">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_O13_Regist_sync_obService">
        <wsdl:port name="SI_O13_Regist_sync_obPort" binding="p1:SI_O13_Regist_sync_obBinding">
            <soap:address location="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=KISS:BC_O13_S03_Regist:CC_O13_S03_WS_OUT&amp;version=3.0&amp;Sender.Party=http%3A%2F%2Fsap.com%2Fxi%2FXI%3AXIParty%3AKISS&amp;Sender.Service=BC_O13_S03_Regist&amp;Interface=http%3A%2F%2Fstzh.ch%2FO13%2FeCH-0020%2F2.3%5ESI_O13_Regist_sync_ob" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SI_O13_Regist_sync_ob"/>
</wsdl:definitions>
