KiSS4939/KiSS4.FAMOZ.KiSSSvc/TriggerTrigger/Web References/WebReference/Notification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.born.ch/KiSS/FAMOZ/PSCD/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.born.ch/KiSS/FAMOZ/PSCD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.born.ch/KiSS/FAMOZ/PSCD/">
      <s:element name="NotifyAboutSAPDataReady">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyAboutSAPDataReadyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyAboutSAPDataReadyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyAboutSAPDataReadySoapIn">
    <wsdl:part name="parameters" element="tns:NotifyAboutSAPDataReady" />
  </wsdl:message>
  <wsdl:message name="NotifyAboutSAPDataReadySoapOut">
    <wsdl:part name="parameters" element="tns:NotifyAboutSAPDataReadyResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationSvcSoap">
    <wsdl:operation name="NotifyAboutSAPDataReady">
      <wsdl:input message="tns:NotifyAboutSAPDataReadySoapIn" />
      <wsdl:output message="tns:NotifyAboutSAPDataReadySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationSvcSoap" type="tns:NotificationSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyAboutSAPDataReady">
      <soap:operation soapAction="http://www.born.ch/KiSS/FAMOZ/PSCD/NotifyAboutSAPDataReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationSvcSoap12" type="tns:NotificationSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyAboutSAPDataReady">
      <soap12:operation soapAction="http://www.born.ch/KiSS/FAMOZ/PSCD/NotifyAboutSAPDataReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationSvc">
    <wsdl:port name="NotificationSvcSoap" binding="tns:NotificationSvcSoap">
      <soap:address location="http://localhost:23000/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationSvcSoap12" binding="tns:NotificationSvcSoap12">
      <soap12:address location="http://localhost:23000/Notification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>